/*폰트 import 부분입니다*/
@font-face{
    font-family:'Jua';
    src: url("../fonts/BM-JUA.woff");
    font-family:'Nanum';
    src: url("../fonts/NanumBarunGothic.woff");
    font-family: 'Bareun1';
    src: url("../fonts/BareunDotumOTFPro1.woff");
    font-family: 'Bareun2';
    src: url("../fonts/BareunDotumOTFPro2.woff");
    font-family: 'Bareun3';
    src: url("../fonts/BareunDotumOTFPro3.woff");
}

html,body{
    /*margin: 0;*/
    /*height: 100%;*/
    /*width: 100%;*/
    font-family: 'Jua';
}
.symbol {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.symbol-empty {
    background-image: url(../img/star-off.png);
}

.symbol-filled {
    background-image: url(../img/star-on.png);
}
.main_img{
    width: 8em;
    height: 8em;
    background-size: cover;
}
.plus_sign{
    width: 8em;
    height: 8em;
    background-size: cover;
}
.rank_chart{
    border-radius: 10px;
    background-color: rgba(1, 12, 84, 1);
    margin-bottom: 10px;
}

.category_name{
    font-family: 'Jua';
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 3em;
}

.category_img{
    width: 10em;
    height:11em;
}
.detail_img{
    width: 10em;
    height: 12em;
}