/*폰트 import 부분입니다*/
@font-face{
    font-family:Jua;
    src: url("../fonts/BM-JUA.woff");
    font-family:Nanum;
    src: url("../fonts/NanumBarunGothic.woff");
    font-family: Bareun1;
    src: url("../fonts/BareunDotumOTFPro1.woff");
    font-family: Bareun2;
    src: url("../fonts/BareunDotumOTFPro2.woff");
    font-family: Bareun3;
    src: url("../fonts/BareunDotumOTFPro3.woff");
}

html,body{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Jua;
}

/*mainPageNew.html에 해당하는 CSS*/
.mainContents{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height:50%;
    text-align: center;
}

.loginDiv{
    /*margin:10%;*/
    padding-top: 10%;
    width: 100%;
    height: 100%;
    background-color:red;
}


