/*폰트 import 부분입니다*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face{
    font-family:'Jua';
    src: url("../fonts/BM-JUA.woff");
    font-family:'Nanum';
    src: url("../fonts/NanumBarunGothic.woff");
    font-family: 'Bareun1';
    src: url("../fonts/BareunDotumOTFPro1.woff");
    font-family: 'Bareun2';
    src: url("../fonts/BareunDotumOTFPro2.woff");
    font-family: 'Bareun3';
    src: url("../fonts/BareunDotumOTFPro3.woff");
    font-family:"Hanna";
    src: url("../fonts/BM-HANNA.woff");

}

html,body{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Hanna';
}
.symbol {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.symbol-empty {
    background-image: url(../img/star_off2.png);
}

.symbol-filled {
    background-image: url(../img/star_on2.png);
}
.main_img{
    width: 8em;
    height: 8em;
    background-size: cover;
    border-radius: 12.5em;
}
.plus_sign{
    width: 7em;
    height: 8em;
    background-size: cover;
}
.rank_chart{
    border-radius: 10px;
    background-color: rgba(1, 12, 84, 1);
    margin-bottom: 10px;
    font-family: "Nanum Gothic";
    font-weight: bold;
}

.category_chart{
    border-radius: 10px;
    background-color: rgba(1, 12, 84, 1);
    margin-bottom: 10px;
    font-family: "Nanum Gothic";
    font-weight: bold;
    margin-top: 5em;
}
.category_chart2{
    border-radius: 10px;
    background-color: rgba(1, 12, 84, 1);
    margin-bottom: 10px;
    font-family: "Nanum Gothic";
    font-weight: bold;
    height:31.250em ;
    overflow: scroll;
    margin-top: 5em;
}



.category_name{
    font-size: 30px;
    margin-bottom: 3em;
}

.category_img{
    width: 11em;
    height:11em;
    background-size: cover;
    border-radius: 12.5em;
}
.detail_img{
    width: 12em;
    height: 12em;
    background-size: cover;
    border-radius: 12.5em;
}
.detail_box{
    background-color: rgba(136, 50, 245, 0.1);
    height: 16.400em;
    border-style: ridge;
}
.detail_box2{
    background-color: rgba(136, 50, 245, 0.1);
    height: 16.400em;
    border-style: ridge;
    overflow: scroll;
}

.detail_name{
    font-size: 30px;
    color: blue;
}
.comment_author{
    color: #18bc9c;
}
.all_name{
    color: black;
    font-size: 20px;
}
.contact{
    font-size: 25px;
}
.all_name_small{
    color: #000000;
}
.love{
    background-image:url(../img/love.png); ;
}
