/*폰트 import 부분입니다*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face{
    font-family:'Jua';
    src: url("../fonts/BM-JUA.woff");
    font-family:'Nanum';
    src: url("../fonts/NanumBarunGothic.woff");
    font-family: 'Bareun1';
    src: url("../fonts/BareunDotumOTFPro1.woff");
    font-family: 'Bareun2';
    src: url("../fonts/BareunDotumOTFPro2.woff");
    font-family: 'Bareun3';
    src: url("../fonts/BareunDotumOTFPro3.woff");
    font-family:"Hanna";
    src: url("../fonts/BM-HANNA.woff");

}

html,body{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Hanna';
    /*background-color: #f6f3f3;*/
}
.symbol {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.symbol-empty {
    background-image: url(../img/star_off2.png);
}

.symbol-filled {
    background-image: url(../img/star_on2.png);
}
.main_img{
    width: 8em;
    height: 8em;
    background-size: cover;
    border-radius: 12.5em;
}
.plus_sign{
    width: 7em;
    height: 8em;
    background-size: cover;
}
.rank_chart{
    padding-top: 0.7em;
    border-radius: 10px;
    background-color: #1473b3;
    margin-bottom: 10px;
    font-family: "Nanum Gothic";
    font-weight: bold;
}

.category_chart{
    padding-top: 0.7em;
    border-radius: 10px;
    background-color: #1473b3;
    margin-bottom: 10px;
    font-family: "Nanum Gothic";
    font-weight: bold;
    margin-top: 5em;
}
.category_chart2{
    padding-top: 0.7em;
    border-radius: 10px;
    background-color: #1473b3;
    margin-bottom: 10px;
    font-family: "Nanum Gothic";
    font-weight: bold;
    height:31.250em ;
    overflow: scroll;
    margin-top: 5em;
}



.category_name{
    font-size: 30px;
    margin-bottom: 3em;
}

.category_img{
    width: 11em;
    height:11em;
    background-size: cover;
    border-radius: 12.5em;
}
.detail_img{
    width: 12em;
    height: 12em;
    background-size: cover;
    border-radius: 12.5em;
}
.detail_box{
    background-color:#e1ebec;
    height: 16.400em;
    border-style: ridge;
}
.detail_box2{
    background-color:#e1ebec;
    height: 16.400em;
    border-style: ridge;
    overflow: scroll;
}

.detail_name{
    font-size: 30px;
    color: black;
}
.comment_author{
    color: #1473b3;
    margin-left: 1em;
}
.all_name{
    color: black;
    font-size: 20px;
}
.contact{
    font-size: 25px;
}
.all_name_small{
    color: #000000;
}
.love{
    background-image:url(../img/love.png); ;
}



li>a{
    color:white;
}


.navbar-brand{
    padding: 0px;
}


.thumbnail{
    border: none;
    /*background-color: #f6f3f3;*/
}

.navbar-default .navbar-nav>li>a{
    color:white;
}


.commentBox{
    padding-top:1em;
}
.panel{
    margin-bottom: 10px;
}

.review{
    overflow: scroll;
    height: 35em;
    /*background-color:#e1ebec;*/
    /*border-style: ridge*/
    border:1px solid;
    border-radius: 10px;
}


.boardBox{
    height: 25em;
    border-style: ridge;
    margin-bottom: 1em;
    border-radius: 10px;
}
.boardTitle{
    background-color: #e1ebec;
    margin-bottom: 3px;
    height: 3.5em;
    padding: 0.8em;
    border-radius: 10px;
    border: 1px solid;
}

.loading {
    display:    none;
    /*position:   fixed;*/
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: url(../img/loading.gif)
    50% 50%
    no-repeat;
}
.review_img{
    width: 5em;
    height: 5em;
    background-size: cover;
    border-radius: 12.5em;
}

.review_chart{
    padding-top: 0.7em;
    border-radius: 10px;
    background-color: #e1ebec;
    margin-bottom: 10px;
    /*font-family: "Nanum Gothic";*/
    /*font-weight: bold;*/
    overflow: scroll;
    height: 40em;
}

.review_content{
    color: #000000;
    padding-top:10px;
    padding-right:5px;
}
.standard{
    color: #000000;
    font-size: 12px;
    font-family: 'Nanum Gothic';
}
.small_img{
    width: 3.5em;
    height: 3.5em;
    background-size: cover;
    border-radius: 12.5em;
}

@media (min-width: 768px) {

    .dropdown-menu .sub-menu {
        left: 100%;
        position: absolute;
        top: 0;
        visibility: hidden;
        margin-top: -1px;
    }

    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
        margin-top: 0;
    }

    .navbar .sub-menu:before {
        border-bottom: 7px solid transparent;
        border-left: none;
        border-right: 7px solid rgba(0, 0, 0, 0.2);
        border-top: 7px solid transparent;
        left: -7px;
        top: 10px;
    }
    .navbar .sub-menu:after {
        border-top: 6px solid transparent;
        border-left: none;
        border-right: 6px solid #fff;
        border-bottom: 6px solid transparent;
        left: 10px;
        top: 11px;
        left: -6px;
    }
}
