<!--네비게이션 위에 붙여서 만든 카테고리 레이아웃 페이지-->
{% extends "nav_layout.html" %}
{% block css %}
{% endblock css %}
{% block js %}
<script>
    {% for each in actorCategory %}
        var name = "{{each.name}}";
        {% endfor %}
</script>
<script type="text/javascript" src="{{url_for('static', filename='js/actor_star.js')}}"></script>
{% endblock %}



{% block content %}

<div class="col-md-1"></div>
<div class="col-md-10">

    <div class="col-md-2 rank_chart">
        {% for each in categoryList %}
        <a href="/a_category/{{each}}"><button type="button" class="btn btn-default" style="font-size:40px;">{{each}}</button></a>
        {% endfor %}
    </div>

    <div class="col-md-10">
        {% for each in actorCategory %}
        <div class="col-md-3 thumbnail_folder_actor">
            <img class="category_image" src="/show2/{{each.name}}" alt=""/>

            <div class="text-center" id="a_star_area">
                {% for i in range(1, 6) %}
                <div id="{{i}}" class="glyphicon glyphicon-heart-empty"></div>
                {% endfor %}
            </div>
            <div class="img_name_text">{{each.name}}</div>

        </div>
        {% endfor %}

    </div>

</div>
<div class="col-md-1"></div>

{% endblock %} 