<!--영상 s메인 페이지-->

{% extends "nav_layout.html" %}
{% block css %}
<style type=text/css>
    #newA{
        color: blue;
    }
</style>
{% endblock css %}
{% block js %}
<script type='text/javascript' src="{{url_for('static', filename='js/comment.js')}}"></script>
{% endblock %}
{% block content %}

<div class="col-md-1"></div>
<div class="col-md-10">

    <div id="STATICMENU" class="rank_chart">
        <div class="text-center" style="font-size: 25px;margin-top: 10px; border-bottom: 2px;">전체 랭킹</div>
        <hr style="border-bottom:2px;"/>
        <ol style="font-size: 16px;">
            {% for each in totalRank %}
            <div><li style="margin-bottom: 10px;"><a href="../actorDetail/{{each.name}}">{{each.name}}</a></li></div>
            {% endfor %}
        </ol>

    </div>
    <div class="col-md-2"></div>
    <div class="col-md-10">
        </br>
        <div>
            <span class="main_category_name">귀여운 단신</span>
        </div>

        <div class="row main_category">
            {% for each in categoryOne %}
            <div class="col-md-2 main_thumnail">
                <a href="/actorDetail/{{each.name}}">
                    <div class="actor_score_text">{{each.average}} 점</div>
                    <img class="main_image" src="/show2/{{each.name}}"/>
                    <div class="actor_name_text" style="color: #000000">{{each.name}}</div>
                </a>
            </div>
            {% endfor %}
            <div class="col-md-2 main_thumnail" style="color:black;">
                <a href="/a_category/1" style="color:black; font-family:'jua';font-size:20px;text-align:center;">
                    더보기
                </a>
            </div>
        </div>
        </br>
        <div>
            <span class="main_category_name">적당한 스타일</span>
        </div>
        <div class="row main_category">
            {% for each in categoryTwo %}

            <div class="col-md-2 main_thumnail">
                <a href="/actorDetail/{{each.name}}">
                    <div class="actor_score_text">{{each.average}} 점</div>
                    <img class="main_image" src="/show2/{{each.name}}"/>
                    <div class="actor_name_text" style="color: #000000">{{each.name}}</div>
                </a>
            </div>
            {% endfor %}
            <div class="col-md-2 main_thumnail" style="color:black;">
                <a href="/a_category/2" style="color:black; font-family:'jua';font-size:20px;text-align:center;">더보기</a></div>
        </div>
        </br>
        <div>
            <span class="main_category_name">쭉쭉빵빵</span>
        </div>
        <div class="row main_category">
            {% for each in categoryThree %}
            <div class="col-md-2 main_thumnail">
                <a href="/actorDetail/{{each.name}}">
                    <div class="actor_score_text">{{each.average}} 점</div>
                    <img class="main_image" src="/show2/{{each.name}}"/>
                    <div class="actor_name_text" style="color: #000000">{{each.name}}</div>
                </a>
            </div>
            {% endfor %}
            <div class="col-md-2 main_thumnail" style="color:black;"> <a href="/a_category/3" style="color:black; font-family:'jua';font-size:20px;text-align:center;">더보기</a></div>
        </div>
        </br>

    </div>
</div>


<div class="col-md-1"></div>

{% endblock %}