<!--영상 메인 페이지-->

{% extends "nav_layout.html" %}
{% block css %}
<style type=text/css>
    @media only screen and (max-width : 1000px) {
        .review_chart{
            padding-top: 0.7em;
            border-radius: 10px;
            background-color: #e1ebec;
            margin-bottom: 10px;
            /*font-family: "Nanum Gothic";*/
            /*font-weight: bold;*/
            overflow: scroll;
            height: 15em;
        }
        .ad{
            height: 18em;
            width: 24em;
            background-image: url(../static/img/ad_mobile2.png);
            background-size: cover;

        }

    }

    @media only screen and (min-width : 1000px) {
        .ad {
            height: 32em;
            width: 12em;
            background-image: url(../static/img/ad_desktop{{number}}.png);
            background-size: cover;

        }
    }

</style>


{% endblock css %}

{% block js %}
<script type="text/javascript" src="{{url_for('static', filename='js/actor_star.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-rating.js')}}"></script>
{% endblock %}


{% block content %}
<!--<div class="col-md-1"></div>-->

<div class="col-md-2">
    <div class="review_chart">
        <div class="text-center" style="font-size: 16px;">실시간 한줄평</div>
        <hr style="margin-top: 5px; margin-bottom: 5px; border-color: black"/>
        <div style="font-size: 13px;">
            {% for each in review %}
            <a href="/actorDetail/{{each.actorName}}">
                <div class="row" style="border-bottom:ridge;">
                    <div class="col-sm-6 text-center">
                        <img src="http://storage.googleapis.com/jikbakguri/actor2/{{each.actorName}}.jpg" class="review_img"/>
                        <p style="color: #000000">{{each.actorName}}</p>
                    </div>
                    <div class="col-sm-6 text-center">
                        <p class="review_content">{{each.content}}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
<!--<div class="text-center" style="color: #ffffff; font-size: 20px;">전체 배우 랭킹</div>-->

<!--<hr style="margin-top: 10px; margin-bottom: 10px;"/>-->
<!--<ol style="font-size: 14px;" class="text-center">-->
<!--{% for each in totalRank %}-->
<!--<div><li style=""><a href="../actorDetail/{{each.name}}">{{each.name}}</a></li></div>-->
<!--{% endfor %}-->
<!--</ol>-->

<!--<div class="col-md-2 rank_chart">-->
<!--{% for each in random %}-->
<!--<div class="row" style="border-bottom:ridge;">-->
<!--<div class="col-sm-6 text-center">-->
<!--<img src="http://storage.googleapis.com/jikbakguri/actor2/{{each.name}}.jpg" class="review_img"/>-->
<!--<p style="color: #000000">{{each.name}}</p>-->
<!--</div>-->
<!--<div class="col-sm-6 text-center a_star_area">-->
<!--<div class="a_star_area">-->
<!--<input type="hidden" class="rating-tooltip" data-filled="symbol symbol-filled" data-empty="symbol symbol-empty"/>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--{% endfor %}-->

<!--</div>-->


<div class="col-md-10">
    <!--<div class="row">-->
    <!--<button style="width: 57.143em; height: 7.143em;margin-left:2em;">광고자리</button>-->
    <!--<div>-->
    <!--<img src="{{url_for('static', filename='img/banner.png')}}" />-->
    <!--</div>-->
    <!--</div>-->
    <div class="col-md-10">
        <div class="row">
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/a_category/1">
                        <div><span>"진짜 작은애당"</span></div>
                        <div ><img src="{{url_for('static', filename='img/folder.png')}}" class="plus_sign" class="img-responsive" alt="Responsive image"/></div>
                        <div class="all_name_small">배우 더보기</div>
                    </a>
                </div>
            </div>

            {% for each in content['one'] %}
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <!--<div class="folder img-responsive" alt="Responsive image" >-->
                    <a href="/actorDetail/{{each.name}}">
                        <div>
                            {{each.average}} 점
                        </div>
                        <img src="http://storage.googleapis.com/jikbakguri/actor2/{{each.name}}.jpg" class="main_img"/>
                        <div class="all_name_small">{{each.name}}</div>
                    </a>
                    <!--</div>-->
                </div>
            </div>
            {% endfor %}
        </div>


        <div class="row">
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/a_category/2">
                        <div><span>"품에 쏘오오옥"</span></div>
                        <div ><img src="{{url_for('static', filename='img/folder.png')}}" class="plus_sign" class="img-responsive" alt="Responsive image"/></div>
                        <div class="all_name_small">배우 더보기</div>
                    </a>
                </div>
            </div>
            {% for each in content['two'] %}
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/actorDetail/{{each.name}}">
                        <div >{{each.average}} 점</div>
                        <img src="http://storage.googleapis.com/jikbakguri/actor2/{{each.name}}.jpg" class="main_img"/>
                        <div class="all_name_small">{{each.name}}</div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>


        <div class="row">
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/a_category/3">
                        <div><span>"걸그룹 키당"</span></div>
                        <div ><img src="{{url_for('static', filename='img/folder.png')}}" class="plus_sign" class="img-responsive" alt="Responsive image"/></div>
                        <div class="all_name_small">배우 더보기</div>
                    </a>
                </div>
            </div>
            {% for each in content['three'] %}
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/actorDetail/{{each.name}}">
                        <div >{{each.average}} 점</div>
                        <img src="http://storage.googleapis.com/jikbakguri/actor2/{{each.name}}.jpg" class="main_img"/>
                        <div class="all_name_small">{{each.name}}</div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/a_category/4">
                        <div><span>"힐 신지 말아조"</span></div>
                        <div ><img src="{{url_for('static', filename='img/folder.png')}}" class="plus_sign" class="img-responsive" alt="Responsive image"/></div>
                        <div class="all_name_small">배우 더보기</div>
                    </a>
                </div>
            </div>

            {% for each in content['four'] %}
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <!--<div class="folder img-responsive" alt="Responsive image" >-->
                    <a href="/actorDetail/{{each.name}}">
                        <div>
                            {{each.average}} 점
                        </div>
                        <img src="http://storage.googleapis.com/jikbakguri/actor2/{{each.name}}.jpg" class="main_img"/>
                        <div class="all_name_small">{{each.name}}</div>
                    </a>
                    <!--</div>-->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-2">
        <div class="text-center">
            <a href="http://www.yesfile.com/partner/link.php?pid=jikbakguri" target="_blank">
                <img src="" class="ad"/>
            </a>
        </div>
    </div>
</div>


<!--<div class="col-md-1"></div>-->
{% endblock %}