<!--네비게이션 위에 붙여서 만든 카테고리 레이아웃 페이지-->
{% extends "nav_layout.html" %}
{% block css %}
{% endblock css %}
{% block js %}
<script type="text/javascript" src="{{url_for('static', filename='js/actor_star.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/actor_bookmark.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-rating.js')}}"></script>
<script type="text/javascript">
    //  $(document).ready(function () {
    //     $('.a_star_area').hover(function () {
    //         $(this).addClass('show_star_class');
    //     }, function () {
    //         $(this).removeClass('show_star_class');
    //     });
    // });
</script>
{% endblock %}

{% block content %}

<div class="col-md-1"></div>
<div class="col-md-10">

    <div id="STATICMENU" class="rank_chart">
        <!--{% for each in categoryList %}-->
        <!--<a href="/a_category/{{each}}"><button type="button" class="btn btn-default" style="font-size:40px;">{{each}}</button></a>-->
        <!--{% endfor %}-->
        <div class="text-center" style="font-size: 18px; color: #000000;margin-top: 10px; border-bottom: 2px;">센스있는 배우 분류</div>
        <hr style="border-bottom:2px;"/>
        <div style="margin-left: 15px;">
            <div>
                <a href="/a_category/1"><button type="button" class="btn btn-default" style="font-size:14px;margin-top:10px;  ">
                    군살없이 마른</button></a></div>
            <div>
                <a href="/a_category/2"><button type="button" class="btn btn-default" style="font-size:14px; margin-top:10px; ">우리는 그냥체형</button>
                </a></div>
            <div>
                <a href="/a_category/3"><button type="button" class="btn btn-default" style="font-size:14px; margin-top:10px; ">육감적이고 육덕스러운</button>
                </a></div>
            <div>
                <a href="/a_category/4"><button type="button" class="btn btn-default" style="font-size:14px;margin-top:10px; ">조금은 귀여운 뱃살</button>
                </a></div>
        </div>
    </div>
    
    <div class="col-md-offset-2 col-md-10">
        {% for each in actorCategory %}
        <div class="col-md-3 thumbnail_folder_actor" id="{{each.name}}">
            <div class="actor_category_average">{{each.average}} 점</div>
            <div class="actor_category_people">({{each.count}} 명)</div>
            <div class="category_image_actor" style="background:url('/show2/{{each.name}}');background-size:cover;">
                <div class="a_star_area">  
                    <input id="a_star" type="hidden" class="rating" style="display:inline-block"/>
                    <button class="a_bookmark btn btn-custom3" type="button" style="display:inline-block;">보고싶어요!</button>
                </div>
            </div>
            <div class="text-center img_name_text_actor">          
                <div>{{each.name}}</div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row text-center">
        <ul class="pagination" style="margin-top: 140px; margin-left: 100px;">
            <li>
                <a href="">&laquo;</a>
            </li>
            {% for page in total_page %}
            <li>
                <a href="/v_category/{{category}}/{{page}}">{{page}}</a>
            </li>
            {% endfor %}
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>

    </div>
</div>
<div class="col-md-1"></div>

{% endblock %}