<!--영상 메인 페이지-->

{% extends "nav_layout.html" %}
{% block css %}
<style type=text/css>

    div{
        font-family:"Jua"
    }
</style>

{% endblock css %}
{% block js %}
{% endblock %}


{% block content %}
<div class="col-md-1"></div>
<div class="col-md-10" style="margin-top:6.67em;">

    <div class="col-md-2 rank_chart">
        <div class="text-center" style="color: #ffffff; font-size: 20px;">전체 랭킹</div>
        <hr style="margin-top: 10px; margin-bottom: 10px;"/>
        <ol style="font-size: 14px;" class="text-center">
            {% for each in totalRank %}
            <div><li style="margin-bottom: 10px; color: #ffffff"><a href="../actorDetail/{{each.name}}">{{each.name}}</a></li></div>
            {% endfor %}
        </ol>
    </div>

    <div class="col-md-10">

        <div class="row">
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/a_category/1">
                        <div ><img src="{{url_for('static', filename='img/jikbak_yellow.png')}}" class="plus_sign"/></div>
                        <div style="color: #000000">귀여운 단신</div>
                    </a>
                </div>
            </div>
            {% for each in categoryOne %}
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/actorDetail/{{each.name}}">
                        <div >{{each.average}} 점</div>
                        <img src="/show2/{{each.name}}" class="main_img"/>
                        <div style="color: #000000">{{each.name}}</div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>


        <div class="row">
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/a_category/2">
                        <div ><img src="{{url_for('static', filename='img/jikbak_yellow.png')}}" class="plus_sign"/></div>
                        <div style="color: #000000">적당한 체형</div>
                    </a>
                </div>
            </div>
            {% for each in categoryTwo %}
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/actorDetail/{{each.name}}">
                        <div >{{each.average}} 점</div>
                        <img src="/show2/{{each.name}}" class="main_img"/>
                        <div style="color: #000000">{{each.name}}</div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>


        <div class="row">
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/a_category/3">
                        <div ><img src="{{url_for('static', filename='img/jikbak_yellow.png')}}" class="plus_sign"/></div>
                        <div style="color: #000000">쭉쭉빵빵</div>
                    </a>
                </div>
            </div>
            {% for each in categoryThree %}
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/actorDetail/{{each.name}}">
                        <div >{{each.average}} 점</div>
                        <img src="/show2/{{each.name}}" class="main_img"/>
                        <div style="color: #000000">{{each.name}}</div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>



    </div>
</div>

<div class="col-md-1"></div>
{% endblock %}