{% extends "nav_layout.html" %}
{% block css %}
{% endblock css %}
{% block js %}
<script type='text/javascript' src="{{url_for('static', filename='js/comment.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-rating.js')}}"></script>
<script type='text/javascript' src="{{url_for('static', filename='js/actor_star.js')}}"></script>
<script type='text/javascript' src="{{url_for('static', filename='js/actor_bookmark.js')}}"></script>
<!--<script type='text/javascript' src="{{url_for('static', filename='js/actor_detail.js')}}"></script>-->
<script>
    $(document).ready(function() {
        var name = '{{actorRow.name}}';
        var total;
        var i=2;

        $.ajax({
            url:'../a_comment_rows',
            dataType:'JSON',
            method: 'POST',
            data:{
                name:name,
                num:1
            },
            success:function(data){

                if( typeof data !== 'object') return;
                for (var i=1;i<data.length;i++){
                    var string = '<div class="panel panel-default">'+'<div class="row">'+
                            '<div class="col-sm-2 text-left">'+'<p class="comment_author">'+
                            '<img src="/static/img/'+data[i].level+'.png"/>'+'&nbsp;&nbsp;'+
                            data[i].user+'</p>'+'</div>'+'<div class="col-sm-9">'+'<p class="text-center commentBox">'
                            +data[i].comments+'</p>'+'</div>'+'</div>'+'</div>';
                    $('#a_additional').append(string);
                }
                total = data[0];
                if(total>=2) {
                    $('#a_more').show();
                }
            }
        });


        function getComment(i){

            $.ajax({
                url:'../a_comment_rows',
                dataType:'JSON',
                method: 'POST',
                data:{
                    name:name,
                    num:i
                },
                success:function(data){

                    if( typeof data !== 'object') return;
                    for (var i=1;i<data.length;i++){
                        var string = '<div class="panel panel-default">'+'<div class="row">'+
                                '<div class="col-sm-2 text-left">'+'<p class="comment_author">'+
                                '<img src="/static/img/'+data[i].level+'.png"/>'+'&nbsp;&nbsp;'+
                                data[i].user+'</p>'+'</div>'+'<div class="col-sm-9">'+'<p class="text-center commentBox">'
                                +data[i].comments+'</p>'+'</div>'+'</div>'+'</div>';
                        $('#a_additional').append(string);
                    }
                }
            });
        }

//        if(total<2) {
//            $('#a_more').hide();
//        }
//        else{
        $('#a_more').click(function () {
//            for (var i = 2; i <= total; i++) {
            getComment(i);
            i=i+1;
//            }
            if(i>total){

                $('#a_more').hide();
            }
        });
//        };
    });


    $(document).ajaxStart(function() {
        $('.loading').fadeIn('fast');
    });
    $(document).ajaxStop( function() {
        $('.loading').fadeOut('fast');
    });


</script>


{% endblock js %}
{% block content %}
<div class="col-md-1"></div>
<div class="col-md-10">

    <div class="row">
        <div class="col-sm-6 col-md-3" >
            <div class="thumbnail text-center" id="{{actorRow.name}}">
                <img src="{{actorRow.url()}}" alt="" class="detail_img"/>
                <div class="a_star_area">
                    {% if rating is defined %}
                    <input type="hidden" class="rating-tooltip" data-filled="symbol symbol-filled" data-empty="symbol symbol-empty" value="{{rating}}"/>
                    {% else %}
                    <input type="hidden" class="rating-tooltip" data-filled="symbol symbol-filled" data-empty="symbol symbol-empty" />
                    {% endif %}
                    <span class="all_name">{{actorRow.name}}</span>
                    <img class="a_bookmark" src="{{url_for('static', filename='img/love2.png')}}"
                         onmouseover="this.src='{{url_for('static', filename='img/love_on2.png')}}'"
                         onmouseout="this.src='{{url_for('static', filename='img/love2.png')}}'" alt=""
                         style="margin-bottom: 0.4em"/>
                </div>
                <!--<a href="{{actorRow.yesfile()}}" target="_blank">-->
                <!--<button  class="btn btn-primary">-->
                <!--<span class="glyphicon glyphicon-download"></span>&nbsp;&nbsp;영상 보러가기-->
                <!--</button>-->
                <!--</a>-->

            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="detail_box text-center">
                <p style="font-size: 25px;">기본 정보</p>
                <p>평균평점 : <span>{{actorRow.average}}</span> 점</p>
                <p>평가인원 : <span>{{actorRow.count}}</span> 명</p>
                <p>키 : <span >{{actorRow.height}}</span> cm</p>
                <p>체형 :
                    <a href="../a_category/{{actorRow.category}}"><span >{{category}}</span></a>
                </p>
                <p>나이 : <span >{{actorRow.age}}</span> 년생</p>
                <p>데뷔년도 :
                    <a href="/n_actor/{{actorRow.release|int}}">
                        <span >{{'%0.2f' % actorRow.release|float}}</span> 월
                    </a>
                </p>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="detail_box2 text-center">
                <p style="font-size: 25px;">출연 작품</p>
                {% for each in oFilmo %}
                <div>
                    <a href="../videoDetail/{{each.videoName}}">
                        <img src="http://storage.googleapis.com/jikbakguri/video/{{each.videoName}}.jpg"
                             style="width: 3.5em;height: 3.5em;background-size: cover;border-radius: 12.5em;"class="small_img"/>
                        &nbsp;&nbsp;
                        <span>{{each.videoName}}&nbsp;({{each.video.average}} 점)</span>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-sm-6 col-md-3" >
            <div class="detail_box2 text-center">
                <p style="font-size: 25px;">유사한 배우</p>
                {% if not sList == False %}
                {% for each in sList %}
                <div>
                    <a href="../actorDetail/{{each}}">
                        <img src="http://storage.googleapis.com/jikbakguri/actor2/{{each}}.jpg"
                             style="width: 3.5em;height: 3.5em;background-size: cover;border-radius: 12.5em;"class="small_img"/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>{{each}}</span>
                    </a>
                </div>
                {% endfor %}
                {% else %}
                <p></p>
                {% endif %}

            </div>
        </div>
    </div>
    <!--<div class="row text-center">-->
    <!--<button style="width: 57.143em; height: 2.857em; margin-bottom: 1em;">광고자리</button>-->
    <!---->
    <!--</div>-->
    <!--댓글 입력부분 시작-->
    <div class="row">
        <div class="col-sm-12">

            <div class="form-group">
                <div class="col-sm-2 text-center"><span style="font-size: 25px;">한줄평</span></div>
                <div class="col-sm-8">
                    <input class="form-control" id = "actor_input" type="text" name="comment" placeholder="나만의 진솔한 한줄평!" maxlength="68" />
                    <input class="form-control" type="hidden" name="actorname" value="{{actorRow.name}}" maxlength="68" />
                </div>
                <div class="col-sm-2 text-center">
                    <!--<button  class="btn btn-blueblack" onclick="void(sendData());"style="position:relative;left:40px;top:16px;font-size:18px;">-->
                    <button  class="btn btn-warning" id="actor_comment">가자!</button>
                </div>
            </div>

        </div>
    </div>
    <!--댓글 입력부분 종료-->

    <!--댓글 출력부분 시작-->
    <div class="row review" style="margin-top: 1.5em; margin-bottom: 2.5em;">


        <div class="col-sm-12">
            <p id="current"></p>
            <div id="a_additional"></div>
            <div class="loading" style="display: none;"></div>
        </div>
        <div class="text-center">
            <button class="btn btn-warning btn-block" id="a_more" style="display: none;">한줄평 더 보기</button>
        </div>

        <!--<div class="col-sm-1"></div>-->
    </div>
</div>


<div class="col-md-1"></div>
{% endblock %}