{% extends "nav_layout.html" %}
{% block css %}
{% endblock css %}
{% block js %}
<!--<script type="text/javascript" src="{{url_for('static', filename='js/actor_collection.js')}}"></script>-->

{% endblock %}

{% block content %}


<div class="col-md-2"></div>
<div class="col-md-8" style="margin-top:6.67em;">

    <div id = "buttons" class="text-center">
        <a href="/a_collection_r/1"><button type="button" id="rating_button" class="btn btn-warning"><span>평가한 배우</span></button></a>
        <a href="/a_collection_b/1"><button type="button" id="bookmark_button" class="btn btn-success"><span>보고싶은 배우</span></button></a>
    </div>

    <div class="row" style="margin-top:3em;">
        {% for each in myRating %}
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail text-center">
                <a href="../../actorDetail/{{each.actorName}}">
                    <div>내 평점: <span>{{each.rating}}</span> 점</div>
                    <img src="/show2/{{each.actorName}}"  class="category_img" alt=""/>
                    <div>
                        <div class="all_name">{{each.actorName}}</div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="row text-center">
        <ul class="pagination">
            <li>
                <a href="/a_collection_r/{{down}}">&laquo;</a>
            </li>
            {% for page in total_page %}
            <li>
                <a href="/a_collection_r/{{page}}">{{page}}</a>
            </li>
            {% endfor %}
            <li>
                <a href="/a_collection_r/{{down}}">&raquo;</a>
            </li>
        </ul>
    </div>

</div>

<div class="col-md-2"></div>

{% endblock %}