<!--네비게이션 위에 붙여서 만든 카테고리 레이아웃 페이지-->
{% extends "nav_layout.html" %}
{% block css %}
<style type=text/css>
    @media only screen and (max-width : 1000px) {
        .category_chart{
            border-radius: 10px;
            background-color: #1473b3;
            margin-bottom: 10px;
            font-family: "Nanum Gothic";
            font-weight: bold;
            margin-top: 0em;
        }
    }

</style>

{% endblock css %}
{% block js %}
<script type="text/javascript" src="{{url_for('static', filename='js/actor_star.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/actor_bookmark.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-rating.js')}}"></script>
<script type="text/javascript">
    //  $(document).ready(function () {
    //     $('.a_bookmark').hover(function () {
    //         $(this).addClass('btn-hoverClass');
    //     }, function () {
    //         $(this).removeClass('btn-hoverClass');
    //     });
    // });
</script>
{% endblock %}

{% block content %}
<div class="col-md-1"></div>
<div class="col-md-10">

    <div class="col-md-2 category_chart">
        <div class="text-center" style="color: #ffffff; font-size: 20px;">배우 분류</div>
        <hr style="margin-top: 10px; margin-bottom: 10px;"/>
        <ul class="text-center">
            <li style="margin-bottom: 10px; color: #ffffff">
                <a href="/a_category/1">진짜 작은애당</a></li>
            <li style="margin-bottom: 10px; color: #ffffff">
                <a href="/a_category/2">품에 쏘오오옥</a></li>
            <li style="margin-bottom: 10px; color: #ffffff">
                <a href="/a_category/3">걸그룹 키당</a></li>
            <li style="margin-bottom: 10px; color: #ffffff">
                <a href="/a_category/4">힐 신지 말아조</a></li>
        </ul>
    </div>


    <div class="col-md-10">
        <div class="text-center">

            {% if category == '1'%}
            <span class="category_name">진짜 작은애당</span>
            {% endif %}
            {% if category  == '2' %}
            <span class="category_name">품에 쏘오오옥</span>
            {% endif %}
            {% if category == '3' %}
            <span class="category_name">걸그룹 키당</span>
            {% endif %}
            {% if category == '4' %}
            <span class="category_name">힐 신지 말아조</span>
            {% endif %}
        </div>


        <div class="row">
            {% for each in actorCategory %}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail text-center" id="{{each.name}}">
                    <a href="../../actorDetail/{{each.name}}">
                        <div>
                            <span>{{each.average}} 점</span> <span>({{each.count}} 명)</span>
                        </div>
                        <img src='{{each.url()}}'  class="category_img" alt=""/>
                    </a>
                    <div class="a_star_area">

                        {% set counter = [] %}
                        {% for r in ratingList %}
                        {%if r['name'] == each.name %}
                        {% if counter.append('1') %}
                        {% endif %}
                        <input type="hidden" class="rating-tooltip" data-filled="symbol symbol-filled" data-empty="symbol symbol-empty" value="{{r['rating']}}"/>
                        {% endif %}
                        {% endfor %}
                        {%if counter == []%}
                        <input type="hidden" class="rating-tooltip" data-filled="symbol symbol-filled" data-empty="symbol symbol-empty"/>
                        {% endif %}

                        <a href="../../actorDetail/{{each.name}}"><span class="all_name">{{each.name}}</span></a>
                        <!--<button type="button" class="a_bookmark btn btn-success btn-xs">-->
                            <!--<span class="a_bookmark glyphicon glyphicon-bookmark"></span>-->
                        <!--</button>-->
                        <img class="a_bookmark" src="{{url_for('static', filename='img/love2.png')}}"
                             onmouseover="this.src='{{url_for('static', filename='img/love_on2.png')}}'"
                             onmouseout="this.src='{{url_for('static', filename='img/love2.png')}}'" alt=""
                                style="margin-bottom: 0.4em"/>
                    </div>


                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row text-center">
            <ul class="pagination">
                <li>
                    <a href="/a_category/{{category}}/{{down}}">&laquo;</a>
                </li>
                {% for each in total_page %}
                {% if each == page %}
                <li class="active">
                    <a href="/a_category/{{category}}/{{page}}">{{page}}</a>
                </li>
                {% else %}
                <li>
                    <a href="/a_category/{{category}}/{{each}}">{{each}}</a>
                </li>
                {% endif %}
                {% endfor %}
                <li>
                    <a href="/a_category/{{category}}/{{up}}">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-md-1"></div>
{% endblock %}