<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>
{% if get_flashed_messages() %}

    <div class="flahsed_box">
        {% for each in get_flashed_messages() %}
            <div class="flashed_text text-center">
                {{each}}
            </div>
        {% endfor %}
    </div>

{% endif %}
<body>
<div class="col-md-1"></div>
<div class="col-md-10">
    <div class="col-md-12">
        <div class="col-md-5">
            <h3>강의넣기</h3>
            <form action="{{url_for("admin")}}" method="post">
                <p> 강의명: <input type="text" name="name" placeholder="완전히 이름 그대로"></p>
                <p> 교수: <input type="text" name="professor" placeholder="홍사성"></p>

                <select name="year" style="width: 30%">
                    <option value="2015" selected="selected">2015</option>
                    <option value="2014">2014</option>
                </select>

                <select name="semester" style="width: 30%">
                    <option value="1">1학기</option>
                    <option value="2">2학기</option>
                </select>
                <br>

                <select name="category"style="width: 30%">
                    <option value="EICC학과">EICC학과</option><option value="EU전공">EU전공</option>
                    <option value="LD전공">LD전공</option><option value="LD학부">LD학부</option>
                    <option value="LT학부">LT학부</option><option value="경영학부">경영학부</option>
                    <option value="경영학전공">경영학전공</option><option value="경제학부">경제학부</option>
                    <option value="경제학전공">경제학전공</option><option value="광고,홍보전공">광고,홍보전공</option>
                    <option value="교육학">교육학</option><option value="국가리더 연계전공">국가리더 연계전공</option>
                    <option value="국제통상학과">국제통상학과</option><option value="국제학부">국제학부</option>
                    <option value="국제학전공">국제학전공</option><option value="네덜란드어과">네덜란드어과</option>
                    <option value="노어과">노어과</option><option value="독일어과">독일어과</option>
                    <option value="독일어교육과">독일어교육과</option><option value="동북아전공">동북아전공</option>
                    <option value="동양어대학">동양어대학</option>
                    <option value="말레이,인도네시아어과">말레이,인도네시아어과</option><option value="몽골어과">몽골어과</option>
                    <option value="문화콘텐츠학전공">문화콘텐츠학전공</option><option value="미디어커뮤니케이션학부">미디어커뮤니케이션학부</option>
                    <option value="방송,영상전공">방송,영상전공</option><option value="법학과">법학과</option>
                    <option value="베트남어과">베트남어과</option>
                    <option value="브릭스전공">브릭스전공</option><option value="사학과">사학과</option>
                    <option value="사회과학전공">사회과학전공</option><option value="서양어대학">서양어대학</option>
                    <option value="스칸디나비아어과">스칸디나비아어과</option>
                    <option value="스페인어과">스페인어과</option><option value="아랍어과">아랍어과</option>
                    <option value="정보전공">언론,정보전공</option><option value="언어인지학과">언어인지학과</option>
                    <option value="영문학과">영문학과</option><option value="영미문학,문화학과">영미문학,문화학과</option>
                    <option value="영어교육과">영어교육과</option><option value="영어전공">영어전공</option>
                    <option value="영어통번역학과">영어통번역학과</option><option value="영어학과">영어학과</option>
                    <option value="영어학부">영어학부</option>
                    <option value="외국어로서의한국어교육연계전공">외국어로서의한국어교육연계전공</option><option value="융복합소프트웨어연계전공">융복합소프트웨어연계전공</option>
                    <option value="융복합일본지역전공">융복합일본지역전공</option><option value="융복합일본지역학부">융복합일본지역학부</option>
                    <option value="이란어과">이란어과</option><option value="이탈리아어과">이탈리아어과</option>
                    <option value="인도어과">인도어과</option><option value="일본문학전공">일본문학전공</option>
                    <option value="일본어학전공">일본어학전공</option><option value="일본언어문화전공">일본언어문화전공</option>
                    <option value="일본언어문화학부">일본언어문화학부</option><option value="일본지역학전공">일본지역학전공</option>
                    <option value="일본학부">일본학부</option><option value="정치외교학과">정치외교학과</option>
                    <option value="중국문학전공">중국문학전공</option><option value="중국어학전공">중국어학전공</option>
                    <option value="중국언어문화전공">중국언어문화전공</option><option value="중국언어문화학부">중국언어문화학부</option>
                    <option value="중국외교통상전공">중국외교통상전공</option><option value="중국외교통상학부">중국외교통상학부</option>
                    <option value="중국지역학전공">중국지역학전공</option><option value="철학과">철학과</option>
                    <option value="태국어과">태국어과</option><option value="터키,아제르바이잔어과">터키,아제르바이잔어과</option>
                    <option value="포르투갈어과">포르투갈어과</option><option value="프랑스어과">프랑스어과</option>
                    <option value="프랑스교육과">프랑스교육과</option><option value="한국어교육과">한국어교육과</option>
                    <option value="행정학과">행정학과</option>

                    <option value="인문강좌">인문강좌</option><option value="교양외국어">교양외국어</option>
                    <option value="HUFS CAREER">HUFS CAREER</option>
                    <option value="건강과레포츠">건강과레포츠</option><option value="특별교양">특별교양</option>
                    <option value="실용외국어">실용외국어</option><option value="외국인을 위한 한국학">외국인을 위한 한국학</option>
                    <option value="공동교양(한예종)">공동교양(한예종)</option><option value="언어와문학">언어와문학</option>
                    <option value="문화와예술">문화와예술</option><option value="역사와철학">역사와철학</option>
                    <option value="국가와사회">국가와사회</option><option value="과학과기술">과학과기술</option>
                    <option value="군사학">군사학</option>

                </select>

                <p> 학점: <input type="text" name="get_grade" placeholder="이수학점, 숫자만 적기"></p>
                <p><input type="submit" value="DB 저장"></p>
            </form>

        </div>


        <div class="col-md-1"></div>
</body>
</html>