<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>actor입력</title>

    <!-- <link href="../static/css/video_style.css" rel="stylesheet" type='text/css'> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>
{% if get_flashed_messages() %}

<div class="flahsed_box">
    {% for each in get_flashed_messages() %}
    <div class="flashed_text text-center">
        {{each}}
    </div>
    {% endfor %}
</div>

{% endif %}
<body>
<div class="col-md-1"></div>
<div class="col-md-10">
    <div class="col-md-12">
        <div class="col-md-5">
            <h3>배우</h3>
            <form action="{{url_for("admin_actor_check")}}" method="post">
            <p> 이름: <input type="text" name="name">
                <input type="submit" name = "check" value="중복체크" placeholder="중복체크용">
                </form>
            </p>
            <form action="{{url_for("admin_actor")}}", enctype="multipart/form-data", method="post">
            <p> 이름: <input type="text" name="name">
            </p>
            <p> category: <input type="text" name="category" placeholder="키 넣기 (155)"></p>
            <p> 나이: <input type="text" name="age" placeholder="1991, 1989, 이런식으로"></p>
            <p> 데뷔년도: <input type="text" name="release" size="35" placeholder="예시:1월-2014.01, 12월 - 2014.12"></p>
            <p>배우사진: <input type="file" name ="actor_image"></p>
            <p><input type="submit" value="배우DB 저장하기"></p>
            </form>

        </div>

        <div class="col-md-5">
            <h3>영상</h3>

            <form action="{{url_for("admin_video_check")}}" method="post">
            <p> 품번: <input type="text" name="name">
                <input type="submit" name = "check" value="중복체크" placeholder="중복체크용">
                </form>
            </p>
            <form action="{{url_for("admin_video")}}", enctype="multipart/form-data", method="post">

            <p> 품번: <input type="text" name="name"></p>
            <p> category: <input type="text" name="category" size="50" placeholder="1:연인,2:지인,3:코스튬,4:팀플,5:SF,6:온천/비누" ></p>
            <p> 출시년도: <input type="text" name="release" size="35" placeholder="예시:1월-2014.01, 12월 - 2014.12"></p>
            <p> 회사: <input type="text" name="company" placeholder="회사명"></p>
            <p> 유모노모: <input type="text" name="exposure" placeholder="노모:0, 유모:1"></p>
            <p>영상사진: <input type="file" name ="video_image"></p>
            <p><input type="submit" value="영상DB 저장하기"></p>
            </form>

        </div>
    </div>


    <div class="col-md-12">
        <div class="col-md-3">
            <form action="{{url_for("admin_connect")}}" method="post">
            <h3>연결하기</h3>
            <p> 배우이름: <input type="text" name="actor_name"></p>
            <p> 출연품번: <input type="text" name="video_name"></p>
            <p><input type="submit" value="배우 - 영상 연결하기"></p>
            </form>
        </div>


        <div class="col-md-3">
            <form action="{{url_for("admin_edit")}}" method="post">
            <h3>배우 키 수정</h3>
            <p> 배우이름: <input type="text" name="name"></p>
            <p> 수정 키 : <input type="text" name="height"></p>
            <p><input type="submit" value="키 수정하기"></p>
            </form>
        </div>

        <div class="col-md-3">
            <form action="{{url_for("admin_a_img")}}" enctype="multipart/form-data", method="post">
            <h3>배우사진 수정</h3>
            <p> 배우이름: <input type="text" name="name"></p>
            <p> 수정사진 : <input type="file" name="img"></p>
            <p><input type="submit" value="이미지 수정"></p>
            </form>
        </div>

        <div class="col-md-3">
            <form action="{{url_for("admin_v_img")}}" enctype="multipart/form-data", method="post">
            <h3>영상사진 수정</h3>
            <p> 영상이름: <input type="text" name="name"></p>
            <p> 수정사진 : <input type="file" name="img"></p>
            <p><input type="submit" value="이미지 수정"></p>
            </form>
        </div>
    </div>

</div>

<div class="col-md-1"></div>
</body>
</html>