<!--네비게이션 위에 붙여서 만든 카테고리 레이아웃 페이지 -->
{% extends "nav_layout.html" %}
{% block css %}
{% endblock css %}
{% block js %}
{% endblock %}

{% block content %}
<div class="col-md-1"></div>
<div class="col-md-10">

    <div class="text-center">
        <img style="height:5.33em; display: inline-block" src="{{url_for('static', filename='img/jikbak_yellow.png')}}" class="img-responsive" alt="Responsive image">
        <p style="font-size: 17px; color: #1473b3;">"소통한다 고로 존재한다"</p>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover" style="font-size: 13px;">
            <thead class="text-center">
            <tr class="row" style="background-color: #e1ebec;">
                <th class="text-center col-md-1">번호&nbsp;<span class="glyphicon glyphicon-triangle-bottom"></span></th>
                <th class="text-center col-md-7">제목&nbsp;<span class="glyphicon glyphicon-link"></span></th>
                <th class="text-center col-md-1">작성자&nbsp;<span class="glyphicon glyphicon-user"></span></th>
                <th class="text-center col-md-1">날짜&nbsp;<span class="glyphicon glyphicon-time"></span></th>
                <th class="text-center col-md-1">좋아요&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span></th>
                <th class="text-center col-md-1">조회&nbsp;<span class="glyphicon glyphicon-ok"></span></th>
            </tr>
            </thead>
            <tbody>
            {% for each in board %}
            <tr class="row">
                <td class="text-center col-md-1">{{each.id}}</td>

                <td class="col-md-7"><a href="../b_detail/{{each.id}}" style="text-decoration: none;">
                    {{each.title}}
                    {%if each.commentCount >0%}
                    <span class="badge">{{each.commentCount}}</span>
                    {% endif %}
                </a></td>
                <td class="col-md-1 text-center">
                    {% if each.user.numVideo < 50 %}
                    <img src="/static/img/0.png" alt="" style="height: 1.5em;"/>
                    {% elif 50<= each.user.numVideo < 100 %}
                    <img src="/static/img/1.png" alt="" style="height: 1.5em;"/>
                    {% elif 100 <= each.user.numVideo < 200 %}
                    <img src="/static/img/2.png" alt=""style="height: 1.5em;"/>
                    {% elif 200 <= each.user.numVideo < 400 %}
                    <img src="/static/img/3.png" alt=""style="height: 1.5em;"/>
                    {% else %}
                    <img src="/static/img/4.png" alt=""style="height: 1.5em;"/>
                    {% endif %}
                    {{each.nickname}}
                </td>
                <td class="text-center col-md-1">{{each.created.strftime('%Y-%m-%d')}}</td>
                <td class="text-center col-md-1">{{each.like}}</td>
                <td class="text-center col-md-1">{{each.click}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row text-right">
        <a href="/b_write"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span>&nbsp;글쓰기</button></a>
    </div>

    <div class="row text-center">
        <ul class="pagination">
            <li>
                <a href="/board/{{down}}">&laquo;</a>
            </li>
            {% for each in total_page %}
            {% if each == page %}
            <li class="active">
                <a href="/board/{{page}}">{{page}}</a>
            </li>
            {% else %}
            <li>
                <a href="/board/{{each}}">{{each}}</a>
            </li>
            {% endif %}
            {% endfor %}
            <li>
                <a href="/board/{{up}}">&raquo;</a>
            </li>
        </ul>
    </div>
</div>

<div class="col-md-1"></div>

{% endblock %}
