<!--네비게이션 위에 붙여서 만든 카테고리 레이아웃 페이지 -->
{% extends "nav_layout.html" %}
{% block css %}
{% endblock css %}
{% block js %}
{% endblock %}

{% block content %}
<div class="col-md-1"></div>
<div class="col-md-10">

    <div >
        <h2 class = "text-primary text-center">글쓰기</h2>
        <br>
        <form action="{{url_for('boardWrite')}}" method="post">

            <p style="font-size:20px;">제목 :
            <div class = "form-group">
                <input type="text" class="form-control" name = "title" maxlength="120" placeholder="120자 이내!">
            </div>
            </p>
            <p style="font-size:20px;">내용 :
            <div class = "form-group">
                <p class="lead">
                <textarea class="form-control" rows="10" name = "content" >
                </textarea>
                </p>
            </div>
            </p>
            <p class="text-center"><button class="btn btn-primary">작성하기!</button></p>
        </form>
    </div>

</div>

<div class="col-md-1"></div>

{% endblock %}
