<!--네비게이션 위에 붙여서 만든 카테고리 레이아웃 페이지-->
{% extends "nav_layout.html" %}
{% block css %}


{% endblock css %}
{% block content %}

  <div class="col-md-1"></div>
  <div class="col-md-10">
  
    <div class="col-md-3 rank_chart"></div>

    <div class="col-md-9">
    <div class="col-md-3 thumbnail_folder"></div>
    <div class="col-md-3 thumbnail_folder"></div>
    <div class="col-md-3 thumbnail_folder"></div>
    <div class="col-md-3 thumbnail_folder"></div>

    <div class="col-md-3 thumbnail_folder"></div>
    <div class="col-md-3 thumbnail_folder"></div>
    <div class="col-md-3 thumbnail_folder"></div>
    <div class="col-md-3 thumbnail_folder"></div>

    <div class="col-md-3 thumbnail_folder"></div>
    <div class="col-md-3 thumbnail_folder"></div>
    <div class="col-md-3 thumbnail_folder"></div>
    <div class="col-md-3 thumbnail_folder"></div>
    </div>
  
  </div>  
  <div class="col-md-1"></div>

{% endblock %} 