<!--네비게이션 위에 붙여서 만든 카테고리 레이아웃 페이지-->
{% extends "navigation.html" %}
{% block css %}
{% endblock css %}
{% block content %}

    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div class="row text-center">
            <span class="col-md-2"></span>
                    <span class="col-md-8">
                        <img src="{{url_for('static', filename='img/logo.png')}}"  style="height: 4.778em;">
                        </span>
            <span class="col-md-2"></span>
        </div>
        <br/><br/>

        <div class="text-center" style="font-family: Hanna;font-size: 19px;">
            <p>2014/2015년 강의평가를 할 수 없는 복학생분들은 <br>
                복학기간과 사유를 메일로 문의해주세요!</p>
            <p>기타 건의사항도 문의해주세요!</p>
            <p style="color: #47038C;">hufsevaluate@gmail.com</p>
            <div class="fb-share-button" data-href="http://www.hufsev.com/" data-layout="box_count"></div>
            <br/>
            <br/>
            <p style="color: blue;">Copyright © 2015 "외대강평팀(Hong(男) & So(女) & Kim(男))" All rights reserved.</p>
        </div>

    </div>
    <div class="col-md-1"></div>


{% endblock %}

{% block js %}
{% endblock %}