<!--네비게이션 위에 붙여서 만든 카테고리 레이아웃 페이지-->
{% extends "navigation.html" %}
{% block css %}
{% endblock css %}
{% block content %}

    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="detail_box">
            <div class="row">
                            <span class="col-md-9">
                                <span style="color:#1473b3; font-size: 18px;">{{detail.name}}</span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span style="font-family: Hanna;">{{detail.professor}} 교수님 / {{ detail.get_grade }} 학점</span>
                            </span>
                            <span class="col-md-3">
                                <span style="font-family: Hanna;">{{ detail.year }}-{{ detail.semester }}학기 / {{ detail.category }} </span>
                            </span>
            </div>
            <hr style="border-color: #000000"/>

            <div class="average_box" style="font-size: 15px;">
                <div class="row">
                                <span class="col-md-4"><span style="color: #000000">총평 :</span>
                                    {{'%0.2f'|format(detail.ev1()|float) }} 점</span>
                    <span class="col-md-4"><span style="color: #000000">난이도 :</span>  {{'%0.2f'|format(detail.ev2()|float) }} 점</span>
                    <span class="col-md-4"><span style="color: #000000">학습량 :</span>  {{'%0.2f'|format(detail.ev3()|float) }} 점</span>
                </div>
                <div class="row">
                    <span class="col-md-4"><span style="color: #000000">출첵 :</span>  {{'%0.2f'|format(detail.ev4()|float) }} 점</span>
                    <span class="col-md-4"><span style="color: #000000">학점 :</span>  {{'%0.2f'|format(detail.ev5()|float) }} 점</span>
                    <span class="col-md-4"><span style="color: #000000">성취감 :</span>  {{'%0.2f'|format(detail.ev6()|float) }} 점</span>
                </div>
            </div>
            <div class="text-center">
                <a href="/evaluate/{{ detail.id }}">
                    <button class="btn btn-danger btn-md" style="font-weight: bold;">
                        평가하러 가기
                    </button>
                </a>
            </div>
        </div>

        <br/><br/>

        {% for each in rating %}
            <div class="row panel panel-default">
                <div class="panel-heading">
                    <span style="color:#1473b3; font-size: 15px;">{{each.user.nickname}}</span>
                    <span>({{ each.user.college }} / {{ '%0.1f'|format(each.user.code/100000) |int }})님의 의견</span>
                </div>
                <div class="panel-body">
                    <div class="col-md-6 text_box">
                        {{ each.opinion }}
                    </div>

                    <div class="col-md-6 rating_box">
                        <div class="row">
                            <span class="col-md-4">총평 :  {{ each.total }} 점</span>
                            <span class="col-md-4">난이도 :  {{ each.difficulty }} 점</span>
                            <span class="col-md-4">학습량 :  {{ each.study_time }} 점</span>
                        </div>
                        <div class="row">
                            <span class="col-md-4">출첵 :  {{ each.attendance }} 점</span>
                            <span class="col-md-4">학점 :  {{ each.grade }} 점</span>
                            <span class="col-md-4">성취감 :  {{ each.achievement }} 점</span>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>


    <div class="col-md-1"></div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-rating.js')}}"></script>
{% endblock %}