<!--네비게이션 위에 붙여서 만든 카테고리 레이아웃 페이지-->
{% extends "navigation.html" %}
{% block css %}
{% endblock css %}
{% block content %}

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="panel">
                <div class="panel-heading upper_color">
                    <div class="row">
                                <span class="col-md-10">
                                    <span class="subject_name">{{detail.name}}</span><br>
                                    <span class="subject_detail">{{detail.professor}} 교수님 / {{ detail.year }}-{{ detail.semester }}학기 / {{ detail.category }}</span>
                                </span>
                                <span class="col-md-2">
                                    <a href="/evaluate/{{ detail.id }}">
                                        <button class="btn btn-default eval_btn">
                                            <span style="color: #175b60;">평가하기</span>
                                        </button>
                                    </a>
                                </span>
                    </div>
                </div>

                <div class="panel-body average_box">
                    <div class="row">
                        <div class="col-md-3 rating_line">
                            <div>
                                <span class="total_rating col-md-4">총평</span>
                                <span class="col-md-2"></span>
                                <span class="col-md-6 total_score">{{'%0.2f'|format(detail.ev1()|float) }}</span><br>
                                <hr class="total_underline">
                            </div>

                            <div class="img-responsive">
                                <span>난이도</span>
                                        <span class="rating_bar">
                                            <span class="rating_bar_in" style="width:{{detail.ev2()}}%;"></span>

                                        </span><br>
                                <span>학습량</span>
                                        <span class="rating_bar">
                                            <span class="rating_bar_in" style="width:{{detail.ev3()}}%;"></span>
                                        </span><br>

                                <span>출첵</span>
                                        <span class="rating_bar">
                                            <span class="rating_bar_in" style="width:{{detail.ev4()}}%;"></span>
                                        </span><br>
                                <span>학점</span>
                                        <span class="rating_bar">
                                            <span class="rating_bar_in" style="width:{{detail.ev5()}}%;"></span>
                                        </span><br>
                                <span>성취감</span>
                                        <span class="rating_bar">
                                            <span class="rating_bar_in" style="width:{{detail.ev6()}}%;"></span>
                                        </span>
                            </div>
                        </div>

                        <div class="col-md-8">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br/><br/>

        {% for each in rating %}
            <div class="row">
                <div class="panel">
                    <div class="panel-body average_box">
                        <div class="row">
                            <div class="col-md-3 rating_line">
                                <div>
                                    <span class="total_rating col-md-4">총평</span>
                                    <span class="col-md-2"></span>
                                    <span class="col-md-6 total_score">{{each.total }}</span><br>
                                    <hr class="total_underline">
                                </div>

                                <div class="img-responsive">
                                    <span>난이도</span>&nbsp;&nbsp;{{ each.difficulty}}
                                        <span class="rating_bar">
                                            <span class="rating_bar_in" style="width:{{each.difficulty/5 * 100}}%;"></span>

                                        </span><br>
                                    <span>학습량</span>&nbsp;&nbsp;{{ each.study_time}}
                                        <span class="rating_bar">
                                            <span class="rating_bar_in" style="width:{{each.study_time/5 * 100}}%;"></span>
                                        </span><br>

                                    <span>출첵</span>&nbsp;&nbsp;{{ each.attendance}}
                                        <span class="rating_bar">
                                            <span class="rating_bar_in" style="width:{{each.attendance/5 * 100}}%;"></span>
                                        </span><br>
                                    <span>학점</span>&nbsp;&nbsp;{{ each.grade}}
                                        <span class="rating_bar">
                                            <span class="rating_bar_in" style="width:{{each.grade/5 * 100}}%;"></span>
                                        </span><br>
                                    <span>성취감</span>&nbsp;&nbsp;{{ each.achievement}}
                                        <span class="rating_bar">
                                            <span class="rating_bar_in" style="width:{{each.achievement/5 * 100}}%;"></span>
                                        </span>
                                </div>
                            </div>
                            <br><br>
                            <div class="col-md-8">
                                <div class="nickname">{{ each.user.nickname }}({{ each.user.college }} / {{ '%0.1f'|format(each.user.code/100000) |int }})</div>
                                <span style="color: #666666;">{{ each.opinion}}</span>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <div class="col-md-2"></div>

{% endblock %}

{% block js %}
{% endblock %}