<!DOCTYPE html>
<html>
<head lang="kr">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="Ue06MRXA8_8x1ytglA2ddYKuIE-q-VhKbBZ3WyFGyTs" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>외대강평</title>

    <meta property="og:title" content="외대강평 : 외대인은 평가로 뭉친다!" />
    <meta property="og:site_name" content="좋은 건 공유합시다 이젠" />
    <meta property="og:image" content="https://storage.googleapis.com/jikbakguri/image/hufsev.png" />
    <meta property="og:url" content="http://www.hufsev.com/" />
    <meta property="og:type" content="website" />
    <!--<meta property="fb:app_id" content="149190165235116" />-->
    <meta property="og:description" content="우리는 외대인이다. 좋은 정보는 공유한다."/>
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" />


    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">


    <style type=text/css>
        @media only screen and (min-width : 1000px) {

            .left{
                margin-top: 4em;
            }

            .right{
                margin-top: 4.5em;
            }
            .main_top{
                margin-top: 6em;
            }
        }
        @font-face {
            font-family: 'Nanum Gothic';
        }
        body{
            font-family: 'Nanum Gothic';
            font-weight: bold;
        }

    </style>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-65814730-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>

<body style="background-color: #f5f5f5;">
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.4&appId=735497843177342";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="main_top">
    <div class="col-md-2" ></div>
    <div class="col-md-8">


        <div class="col-md-12">
            <div class="row" style="border: 10px solid #ddd;">
                <div class="row text-center">
                    <span class="col-md-2"></span>
                    <span class="col-md-8">
                    <a  href="{{url_for('index')}}">
                        <img src="{{url_for('static', filename='img/logo.png')}}"  class="img-responsive" alt="Responsive image">
                    </a>
                        </span>
                    <span class="col-md-2"></span>
                </div>
                <div class="col-md-7 left">
                    <img src="/static/img/main{{number}}.png" class="img-responsive" alt="Responsive image" style="display: inline-block"/>
                </div>

                <!--contents 시작-->
                <div class="col-md-5 right">
                    <form action='{{url_for("login")}}' method="POST">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="error_message" style="text-align:center;">
                                        {% with errors = get_flashed_messages(category_filter=["error"]) %}
                                            {% if errors %}
                                                {% for msg in errors %}
                                                    {{ msg }}
                                                {% endfor %}
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    {{ form.hidden_tag() }}
                                    {% from "_form_field.html" import render_field %}
                                    {% for field in form %}
                                        {% if field.widget.input_type != 'hidden' %}
                                            {{ render_field(field, class="form-control") }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <div class="row">
                                <div class="control-group col-md-offset-1 col-md-10">
                                    <div style="display:block;">
                                        <button class="btn btn-primary" style="margin-top:5%;width:100%;">
                                            로그인
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                    <div class="row">
                        <div class="control-group col-md-offset-1 col-md-10">
                            <div style="display:block;">
                                <a href="{{url_for('signup')}}">
                                    <button class="btn btn-danger" style="margin-top:5%;width:100%;">
                                        회원가입
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-2"></div>

</div>
</body>


</html>