<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="Ue06MRXA8_8x1ytglA2ddYKuIE-q-VhKbBZ3WyFGyTs" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>외대강평</title>

    <meta property="og:title" content="외대강평 : 외대인은 평가로 뭉친다!" />
    <meta property="og:site_name" content="좋은 건 공유합시다 이젠" />
    <meta property="og:image" content="http://www.hufsev.com/static/img/hufsev.png"/>
    <meta property="og:url" content="http://www.hufsev.com/" />
    <meta property="og:type" content="website" />
    <!--<meta property="fb:app_id" content="149190165235116" />-->
    <meta property="og:description" content="우리는 외대인이다. 좋은 정보는 공유한다."/>
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" />


    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/landing-page.css')}}">

    <link href='http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link href='http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
    <!-- Custom Fonts -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        html{ font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

    </style>

</head>

<body>

<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <img src="../static/img/logobig.png" alt="" class="img-responsive" style="margin: 0 auto;">
                    <h3 class="text-center">외대인의 솔직한 강의평가 꿀팁 사이트</h3>
                    <hr class="intro-divider">

                    <div class="col-md-6 col-md-offset-3">
                        <form action='{{url_for("login")}}' method="POST">
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="error_message" style="text-align:center;">
                                            {% with errors = get_flashed_messages(category_filter=["error"]) %}
                                                {% if errors %}
                                                    {% for msg in errors %}
                                                        {{ msg }}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endwith %}
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-md-offset-3 col-xs-9 col-xs-offset-3">
                                        {{ form.hidden_tag() }}
                                        {% from "_form_field.html" import render_field %}
                                        {% for field in form %}
                                            {% if field.widget.input_type != 'hidden' %}
                                                {{ render_field(field, class="form-control",style="width:60%;") }}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9 col-md-offset-3 col-xs-9 col-xs-offset-3">
                                        <div>
                                            <button class="btn btn-default search_button" style="margin-top:5%;width:60%;">
                                                로그인
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>

                        <div class="row">
                            <div class="col-md-9 col-md-offset- col-xs-9 col-xs-offset-3">
                                <div style="display:block;">
                                    <a href="{{url_for('signup')}}">
                                        <button class="btn btn-default total_btn" style="margin-top:5%;width:60%;">
                                            회원가입
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        </p>
                    </div>




                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 외대강평 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2031525633622804"
     data-ad-slot="2975582171"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>



<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">도대체 뭐 배우는 과목이지?</h2>
                <p class="lead">
                    한 번 클릭에 결정되는 나의 한학기<br>
                    이제는 제대로 알고 수강신청하자
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="../static/img/pic1.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-headng">후배들아 나의 꿀팁을 알려주마!</h2>
                <p class="lead">
                    나와 같은 실수를 반복하지 말아라 <br>
                    이제는 서로서로 공유하자
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="../static/img/pic2.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright text-muted small">Copyright &copy; 외대강평팀 & HUVE 2016. All Rights Reserved / 문의 : hufsevaluate@gmail.com</p>
            </div>
        </div>
    </div>
</footer>

<script type='text/javascript' src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script type='text/javascript' src="{{url_for('static', filename='js/jquery-2.1.3.js')}}"></script>

</body>

</html>
