<!DOCTYPE html>
<html>
<head lang="kr">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="Ue06MRXA8_8x1ytglA2ddYKuIE-q-VhKbBZ3WyFGyTs" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>직박구리 : 취향을 알려줄게!</title>

    <meta property="og:title" content="직박구리 : 취향을 알려줄게!" />
    <meta property="og:site_name" content="건국 이래 최고의 사이" />
    <meta property="og:image" content="http://storage.googleapis.com/jikbakguri/image/main.png" />
    <meta property="og:url" content="http://www.jikbakguri.com/" />
    <meta property="og:type" content="website" />
    <!--<meta property="fb:app_id" content="149190165235116" />-->
    <meta property="og:description" content="더 이상 헤메지 마라. 당신이 찾던 바로 그곳이다."/>
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" />


    <!--<script type='text/javascript' src="{{url_for('static', filename='js/jquery-2.1.3.js')}}"></script>-->
    <!--<script type='text/javascript' src="{{url_for('static', filename='js/floatDiv.js')}}"></script>-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <!--<script type='text/javascript' src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>-->
    <!--<link rel="stylesheet" type="text/css" href="http://doc.smarchal.com/so/fiddle.css">-->
    <!--<link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">-->

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-55236595-1', 'auto');
        ga('send', 'pageview');

    </script>

    <style type=text/css>
        @media only screen and (max-width : 1000px) {
            .countmain{
                color: #ffffff;
                font-size: 18px;;
            }
        }
        @media only screen and (min-width : 1000px) {

            .countmain{
                color: #ffffff;
                font-size: 28px;
                margin-top: 1em;
            }
            .left{
                margin-top: 5em;
            }

            .right{
                margin-top: 7.5em;
            }
        }
        @font-face {
            font-family:"Hanna";
            src: url("../static/fonts/BM-HANNA.woff");
        }
        body{
            font-family: "Hanna";
        }

    </style>



</head>
<!-- <body style="background-size:cover; background-image: url(../static/img/saint.jpg)"> -->
<body style="background-color:#1473b3;">
<div class="col-md-1"></div>
<div class="col-md-10">

    <div class="row">
        <a  href="{{url_for('index')}}">
            <img src="{{url_for('static', filename='img/logo_stroke_black.png')}}"  class="img-responsive" alt="Responsive image" style="padding: 0em; width: 8.333em;height: 2.778em;">
        </a>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-7 left">
                <img src="/static/img/main{{number}}.png" class="img-responsive" alt="Responsive image" style="display: inline-block"/>
            </div>

            <!--contents 시작-->
            <div class="col-md-5 right" style="color: #ffffff">
                <form action='{{url_for("login")}}' method="POST">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="error_message" style="text-align:center;">
                                    {% with errors = get_flashed_messages(category_filter=["error"]) %}
                                    {% if errors %}
                                    {% for msg in errors %}
                                    {{ msg }}
                                    {% endfor %}
                                    {% endif %}
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                {{ form.hidden_tag() }}
                                {% from "_form_field.html" import render_field %}
                                {% for field in form %}
                                {% if field.widget.input_type != 'hidden' %}
                                {{ render_field(field, class="form-control") }}
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row">
                            <div class="control-group col-md-offset-1 col-md-10">
                                <div style="display:block;">
                                    <button class="btn btn-default" style="margin-top:5%;width:100%;">
                                        들어가자!
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <div class="row">
                    <div class="control-group col-md-offset-1 col-md-10">
                        <div style="display:block;">
                            <a href="{{url_for('signup')}}">
                                <button class="btn btn-danger" style="margin-top:5%;width:100%;">
                                    가입하기!
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                </p>
            </div>
        </div>
        <!--<div class="row text-center">-->
            <!--<div class="countmain">-->
                <!--현재 <span style="color: orange">&nbsp;&nbsp;{{count}}&nbsp;&nbsp;</span> 개의 별점이 쌓였습니다.-->
            <!--</div>-->

        <!--</div>-->
    </div>

</div>
<div class="col-md-1"></div>
<!--<img src="{{url_for('static', filename='img/jikbak_main.png')}}" class="img-responsive text-center bird" alt="Responsive image" style=" margin-top: 2em"/>-->

</body>


</html>