<!--네비게이션 위에 붙여서 만든 카테고리 레이아웃 페이지-->
{% extends "nav_layout.html" %}
{% block css %}
{% endblock css %}
{% block js %}
{% endblock %}

{% block content %}
<div class="col-md-1"></div>

<div class="col-md-10 text-center" style="margin-top:200px;">
    <img style="height:200px" src="{{url_for('static', filename='img/jikbak_yellow.png')}}">
    <h2 style="font-family:'jua';color:#3D104D">비밀번호 변경하기</h2>
    <form action="{{url_for('modify_password')}}" method="post">
        <input type="password" name="password"/> <button class="btn btn-custom3" type="submit">변경하기!</button>
        <br/>
        {% with errors = get_flashed_messages(category_filter=["password"]) %}
        {% if errors %}
        {% for msg in errors %}
        {{ msg }}
        {% endfor %}
        {% endif %}
        {% endwith %}

    </form>

    <h2 style="font-family:'jua';color:#3D104D">닉네임 변경하기</h2>
    <form action="{{url_for('modify_nickname')}}" method="post">
        <input type="text" name="nickname"/><button class="btn btn-custom3" type="submit">변경하기!</button>
        <br/>
        {% with errors = get_flashed_messages(category_filter=["nickname"]) %}
        {% if errors %}
        {% for msg in errors %}
        {{ msg }}
        {% endfor %}
        {% endif %}
        {% endwith %}

    </form>






</div>

<div class="col-md-1"></div>






{% endblock %}