<!--네비게이션 위에 붙여서 만든 카테고리 레이아웃 페이지-->
{% extends "nav_layout.html" %}
{% block css %}
{% endblock css %}
{% block js %}
{% endblock %}

{% block content %}

<div class="col-xs-10 text-center" style="margin-top:150px;">
    <img style="height:200px" src="{{url_for('static', filename='img/jikbak_yellow.png')}}">
    <h2 style="font-family:'jua';color:#141A56">비밀번호 변경하기</h2>
    <form action="{{url_for('modify_password')}}" method="post">
        <input type="password" name="password" placeholder="  변경할 비밀번호를 입력" style="width: 20%"/> &nbsp;&nbsp;&nbsp;<button class="btn btn-navy" type="submit">변경하기!</button>
        <br/>
        {% with errors = get_flashed_messages(category_filter=["password"]) %}
        {% if errors %}
        {% for msg in errors %}
        {{ msg }}
        {% endfor %}
        {% endif %}
        {% endwith %}

    </form>

    <h2 style="font-family:'jua';color:#141A56">닉네임 변경하기</h2>
    <form action="{{url_for('modify_nickname')}}" method="post">
        <input type="text" name="nickname" maxlength="9" placeholder="  변경할 닉네임을 입력 (최대 9자)" style="width: 20%"/>&nbsp;&nbsp;&nbsp;<button class="btn btn-navy" type="submit">변경하기!</button>
        <br/>
        {% with errors = get_flashed_messages(category_filter=["nickname"]) %}
        {% if errors %}
        {% for msg in errors %}
        {{ msg }}
        {% endfor %}
        {% endif %}
        {% endwith %}

    </form>






</div>







{% endblock %}