<!--네비게이션 위에 붙여서 만든 카테고리 레이아웃 페이지-->
{% extends "navigation.html" %}
{% block css %}
{% endblock css %}
{% block content %}

    <div class="col-md-2"></div>
    <div class="col-md-8">

    {% for each in my_rating %}
        <div class="row panel panel-default">
            <div class="panel-heading">
                <span style="color:#1473b3; font-size: 15px;">{{ each.lecture.name }} - {{each.user.nickname}}</span>
                <span>({{ each.user.college }} / {{ '%0.1f'|format(each.user.code/100000) |int }})님의 의견</span>
            </div>
            <div class="panel-body">
                <div class="col-md-6 text_box">
                    {{ each.opinion }}
                </div>

                <div class="col-md-6 rating_box">
                    <div class="row">
                        <span class="col-md-4">총평 :  {{ each.total }} 점</span>
                        <span class="col-md-4">난이도 :  {{ each.difficulty }} 점</span>
                        <span class="col-md-4">학습량 :  {{ each.study_time }} 점</span>
                    </div>
                    <div class="row">
                        <span class="col-md-4">출첵 :  {{ each.attendance }} 점</span>
                        <span class="col-md-4">학점 :  {{ each.grade }} 점</span>
                        <span class="col-md-4">성취감 :  {{ each.achievement }} 점</span>
                    </div>
                </div>

                <div class="text-center">
                    <a href="/modify/{{ each.id }}">
                        <button type="submit" class="btn btn-primary btn-md" style="font-weight: bold;">
                            수정하기
                        </button>
                    </a>

                    <a href="/delete/{{ each.id }}">
                        <button type="submit" class="btn btn-danger btn-md" style="font-weight: bold;">
                            삭제하기
                        </button>
                    </a>

                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row text-center">
        <ul class="pagination">
            <li>
                <a href="/a_collection_r/{{down}}">&laquo;</a>
            </li>
            {% for each in total_page %}
                {% if each == page %}
                    <li class="active">
                        <a href="/a_collection_r/{{page}}">{{page}}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/a_collection_r/{{each}}">{{each}}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li>
                <a href="/a_collection_r/{{down}}">&raquo;</a>
            </li>
        </ul>
    </div>

    <div class="col-md-2"></div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-rating.js')}}"></script>
{% endblock %}