<!--네비게이션 위에 붙여서 만든 카테고리 레이아웃 페이지-->
{% extends "navigation.html" %}
{% block css %}
{% endblock css %}
{% block content %}

    <div class="col-md-2"></div>
    <div class="col-md-8">

    {% for each in my_rating %}
        <div class="row">
            <div class="panel">
                <div class="panel-body average_box">
                    <div class="row">
                        <div class="col-md-3">
                                    <span>
                                    <span class="total_rating col-md-4">총평</span>
                                        <span class="col-md-2"></span>
                                    <span class="col-md-6 total_score">{{each.total}}</span>
                                    </span>

                            <hr class="total_underline">

                            <span>난이도</span>
                                    <span class="rating_bar">
                                        <span class="rating_bar_in" style="width:{{each.difficulty /5  * 67}}%;"></span>
                                    </span><br>
                            <span>학습량</span>
                                    <span class="rating_bar">
                                        <span class="rating_bar_in" style="width:{{each.study_time /5  * 67}}%;"></span>
                                    </span><br>

                            <span>출첵</span>
                                    <span class="rating_bar">
                                        <span class="rating_bar_in" style="width:{{each.attendance /5  * 67}}%;"></span>
                                    </span><br>
                            <span>학점</span>
                                    <span class="rating_bar">
                                        <span class="rating_bar_in" style="width:{{each.grade /5  * 67}}%;"></span>
                                    </span><br>
                            <span>성취감</span>
                                    <span class="rating_bar">
                                        <span class="rating_bar_in" style="width:{{each.achievement /5  * 67}}%;"></span>
                                    </span><br>
                        </div>
                        <br><br>
                        <div class="col-md-9">
                            <div class="nickname">{{ each.user.nickname }}({{ each.user.college }} / {{ '%0.1f'|format(each.user.code/100000) |int }})</div>
                            <span style="color: #666666;">{{ each.opinion}}</span>

                        </div>
                    </div>
                </div>

                <div class="text-right">
                    <a href="/modify/{{ each.id }}">
                        <button type="submit" class="btn btn-default total_btn">
                            수정하기
                        </button>
                    </a>

                    <a href="/delete/{{ each.id }}">
                        <button type="submit" class="btn btn-default total_btn">
                            삭제하기
                        </button>
                    </a>

                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row text-center">
        <ul class="pagination">
            <li>
                <a href="/a_collection_r/{{down}}">&laquo;</a>
            </li>
            {% for each in total_page %}
                {% if each == page %}
                    <li class="active">
                        <a href="/a_collection_r/{{page}}">{{page}}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/a_collection_r/{{each}}">{{each}}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li>
                <a href="/a_collection_r/{{down}}">&raquo;</a>
            </li>
        </ul>
    </div>

    <div class="col-md-2"></div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-rating.js')}}"></script>
{% endblock %}