<!--네비게이션 위에 붙여서 만든 카테고리 레이아웃 페이지-->
{% extends "nav_layout.html" %}
{% block css %}
{% endblock css %}
{% block js %}
<script type="text/javascript" src="{{url_for('static', filename='js/actor_star.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/actor_bookmark.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-rating.js')}}"></script>

{% endblock %}

{% block content %}

<div class="col-md-1"></div>
<div class="col-md-10">

    <div id="STATICMENU" class="rank_chart_new_actor">
        <div class="text-center" style="font-size: 25px;color:white;margin-top: 10px; border-bottom: 2px;">데뷔연도 </div>
        <hr style="border-bottom:2px;"/>
        <div style="margin-left: 15px;">
            <div class="row">
                {% for each in releaseList %}
                <div class="col-md-5" style="margin-top: 10px;">
                    <a href="/n_actor/{{each}}"><button type="button" class="btn btn-default btn-xs" style="font-size:14px;">{{each}}년도</button></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-offset-2 col-md-10" style="position:relative;top:50px;">
        {% for each in actorRelease %}
        <div class="col-md-3 thumbnail_folder_actor" id="{{each.name}}">
            <a href="../../actorDetail/{{each.name}}">
                <div class="video_category_average">{{each.average}} 점</div>
                <div class="video_category_people">({{each.count}} 명)</div>
                <img class="category_image_video" src="/show2/{{each.name}}" alt=""/>
                <div class="a_star_area">
                    <input id="a_star" type="hidden" class="rating-tooltip" data-filled="symbol symbol-filled" data-empty="symbol symbol-empty" />
                    <button class="a_bookmark btn btn-custom3" type="button">보고싶어요!</button>
                </div>
                <div class="text-center img_name_text_video">
                    <div>{{each.name}}</div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="row text-center">
        <ul class="pagination" style="margin-top: 140px; margin-left: 100px;">
            <li>
                <a href="/n_actor/{{release}}/{{down}}">&laquo;</a>
            </li>
            {% for page in total_page %}
            <li>
                <a href="/n_actor/{{release}}/{{page}}">{{page}}</a>
            </li>
            {% endfor %}
            <li>
                <a href="/n_actor/{{release}}/{{up}}">&raquo;</a>
            </li>
        </ul>

    </div>
</div>
<div class="col-md-1"></div>

{% endblock %}