<!--네비게이션 위에 붙여서 만든 카테고리 레이아웃 페이지-->
{% extends "nav_layout.html" %}
{% block css %}
{% endblock css %}
{% block js %}
<script type="text/javascript" src="{{url_for('static', filename='js/video_star.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/video_bookmark.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-rating.js')}}"></script>

{% endblock %}

{% block content %}

<div class="col-md-1"></div>
<div class="col-md-10">

    <div id="STATICMENU" class="rank_chart">
        <div class="text-center" style="font-size: 18px; color: #000000;margin-top: 10px; border-bottom: 2px;">기획사별 분류</div>
        <hr style="border-bottom:2px;"/>
        <div style="margin-left: 15px;">
            {% for each in companyList %}
            <div style="margin-top: 10px; font-size: 14px;">
                <a href="/n_video/{{each}}"><button type="button" class="btn btn-default" style="font-size:18px;">{{each}}</button></a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-offset-2 col-md-10">
        {% for each in videoCompany %}
        <div class="col-md-3 thumbnail_folder_actor" id="{{each.name}}">
            <div class="new_category_average">{{each.average}} 점</div>
            <div class="new_category_people">({{each.count}} 명)</div>
            <div class="category_image_new" style="background:url('/show1/{{each.name}}');background-size:cover;">
                <div class="new_a_star_area">  
                    <input id="a_star" type="hidden" class="rating" style="display:inline-block"/>
                    <button class="a_bookmark btn btn-custom3" type="button" style="display:inline-block;">보고싶어요!</button>
                </div>
            </div>
            <div class="text-center img_name_text_actor">          
                <div>{{each.name}}</div>
            </div>

        </div>
        {% endfor %}
    </div>

    <div class="row text-center">
        <ul class="pagination" style="margin-top: 140px; margin-left: 100px;">
            <li>
                <a href="">&laquo;</a>
            </li>
            {% for page in total_page %}
            <li>
                <a href="/n_video/{{company}}/{{page}}">{{page}}</a>
            </li>
            {% endfor %}
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>

    </div>
</div>
<div class="col-md-1"></div>

{% endblock %}