<!--네비게이션 위에 붙여서 만든 카테고리 레이아웃 페이지 -->
{% extends "nav_layout.html" %}
{% block css %}
{% endblock css %}
{% block js %}
{% endblock %}

{% block content %}
<div class="col-md-1"></div>
<div class="col-md-10">
    <div class="table-responsive">
        <table class="table table-bordered table-hover" style="font-size: 13px;">
            <thead class="text-center">
            <tr class="row">
                <th class="text-center col-md-1">번호</th>
                <th class="text-center col-md-8">제목</th>
                <th class="text-center col-md-1">작성자</th>
                <th class="text-center col-md-1">날짜</th>
                <th class="text-center col-md-1">조회</th>
            </tr>
            </thead>
            <tbody>
            {% for each in board %}
            <tr class="row">
                <td class="text-center col-md-1">{{each.id}}</td>

                <td class="col-md-8"><a href="../b_detail/{{each.id}}" style="text-decoration: none;">
                    {{each.title}}
                    {%if each.commentCount >0%}
                    <span class="badge">{{each.commentCount}}</span>
                    {% endif %}
                </a></td>
                <td class="col-md-1 text-center">{{each.nickname}}</td>
                <td class="text-center col-md-1">{{each.created.strftime('%Y-%m-%d')}}</td>
                <td class="text-center col-md-1">{{each.click}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="row text-center">
        <ul class="pagination">
            <li>
                <a href="/board/{{down}}">&laquo;</a>
            </li>
            {% for each in total_page %}
            {% if each == page %}
            <li class="active">
                <a href="/board/{{page}}">{{page}}</a>
            </li>
            {% else %}
            <li>
                <a href="/board/{{each}}">{{each}}</a>
            </li>
            {% endif %}
            {% endfor %}
            <li>
                <a href="/board/{{up}}">&raquo;</a>
            </li>
        </ul>
    </div>
</div>

<div class="col-md-1"></div>

{% endblock %}
