{% extends "nav_layout.html" %}
{% block content %}
<div class="row">
    {% for each in rList %}
    {% if each[0]>3 %}

    <div class="col-sm-4 col-md-2">
        <div class="thumbnail text-center">
            <a href="/videoDetail/{{each[1]}}">
                <div >예상평점: {{each[0]}}</div>
                <img src="/show1/{{each[1]}}" class="main_img"/>
                <div class="all_name_small">{{each[1]}}</div>
            </a>
        </div>
    </div>

    {% endif %}
    {% endfor %}

</div>



{% endblock %}