{% extends "nav_layout.html" %}
{% block content %}
  
<div class="col-md-1"></div>
<div class="col-md-10 text-center">

    <img style="height:7.33em; display: inline-block" src="{{url_for('static', filename='img/jikbak_yellow.png')}}" class="img-responsive" alt="Responsive image">
    {% if rList is defined %}
    <p class="contact">당신만을 위한 추천배우!! (현재 평가 수 : <span style="color: blue">{{count}}</span> 개)</p>
    {% for each in rList %}
    {% if each[0]>3 %}

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail text-center">
            <a href="../actorDetail/{{each[1]}}">
                <div >예상평점: {{'%0.2f' % each[0]|float}}</div>
                <img src="/show2/{{each[1]}}" class="category_img"/>
                <div class="all_name">{{each[1]}}</div>
            </a>
        </div>
    </div>

    {% endif %}
    {% endfor %}

    {% else %}
    <p class="contact">아직 배우평가가 부족해요!! (현재 평가 수 : <span style="color: blue">{{count}}</span> 개)</p>
    <p class="contact">적어도 25개 이상을 평가하면 딱 맞게 추천해드릴게요!!</p>
    {% endif %}

</div>

<div class="col-md-1"></div>
{% endblock %}