<!--네비게이션 위에 붙여서 만든 카테고리 레이아웃 페이지-->
{% extends "navigation.html" %}
{% block css %}
{% endblock css %}
{% block content %}

    <div class="col-md-8">
        <div class="search_box col-md-12">
            <div class="row" style="font-size: 13px;line-height: 1.7; color: #666666;">
                1. 평가를 <span style="color: #FFFFFF;">5개 이상</span> 해야 볼 권한이 생깁니다!<br>
                2. 외대인다운 <span style="color: #FFFFFF;">정성스런 평가</span>부탁해요!<br>
                3. 허위 혹은 무성의한 평가는 <span style="color: #FFFFFF;">제재</span>가 있을 수 있어요!
            </div>
            <br>
            <div class="row">
                <form action="/search" method="POST">
                    <div class="form-group">
                        <input type="text" name="search" class="form-control" placeholder="강의명 혹은 교수님으로 검색해주세요!" style="width: 40%; display: inline">
                        <!--디비 검색 버튼-->
                        <button type="submit" class="btn btn-default search_button">
                            검색
                        </button>
                    </div>
                </form>
            </div>

            <div class="row">
                <form role="search" action="/search2" method="POST">
                    <select name="year" class="col-md-2">
                        <option value="2015" selected="selected">2015</option>
                        <option value="2014">2014</option>
                    </select>
                    <select name="semester" class="col-md-2">
                        <option value="3" selected="selected">전체</option>
                        <option value="1">1학기</option>
                        <option value="2">2학기</option>
                    </select>

                    <select class="col-md-3" onchange="categoryChange(value);">
                        <option value="major">전공/부전공</option>
                        <option value="free">실용외국어/교양과목</option>
                    </select>


                    <select name="category1" class="major col-md-2" >
                        <option value="0" >전공 선택!</option>
                        <option value="EICC학과">EICC학과</option><option value="EU전공">EU전공</option>
                        <option value="LD전공">LD전공</option><option value="LD학부">LD학부</option>
                        <option value="LT학부">LT학부</option><option value="경영학부">경영학부</option>
                        <option value="경영학전공">경영학전공</option><option value="경제학부">경제학부</option>
                        <option value="경제학전공">경제학전공</option><option value="광고,홍보전공">광고,홍보전공</option>
                        <option value="교육학">교육학</option><option value="국가리더 연계전공">국가리더 연계전공</option>
                        <option value="국제통상학과">국제통상학과</option><option value="국제학부">국제학부</option>
                        <option value="국제학전공">국제학전공</option><option value="네덜란드어과">네덜란드어과</option>
                        <option value="노어과">노어과</option><option value="독일어과">독일어과</option>
                        <option value="독일어교육과">독일어교육과</option><option value="동북아전공">동북아전공</option>
                        <option value="동양어대학">동양어대학</option>
                        <option value="말레이,인도네시아어과">말레이,인도네시아어과</option><option value="몽골어과">몽골어과</option>
                        <option value="문화콘텐츠학전공">문화콘텐츠학전공</option><option value="미디어커뮤니케이션학부">미디어커뮤니케이션학부</option>
                        <option value="방송,영상전공">방송,영상전공</option><option value="법학과">법학과</option>
                        <option value="베트남어과">베트남어과</option>
                        <option value="브릭스전공">브릭스전공</option><option value="사학과">사학과</option>
                        <option value="사회과학전공">사회과학전공</option><option value="서양어대학">서양어대학</option>
                        <option value="스칸디나비아어과">스칸디나비아어과</option>
                        <option value="스페인어과">스페인어과</option><option value="아랍어과">아랍어과</option>
                        <option value="정보전공">언론,정보전공</option><option value="언어인지학과">언어인지학과</option>
                        <option value="영문학과">영문학과</option><option value="영미문학,문화학과">영미문학,문화학과</option>
                        <option value="영어교육과">영어교육과</option><option value="영어전공">영어전공</option>
                        <option value="영어통번역학과">영어통번역학과</option><option value="영어학과">영어학과</option>
                        <option value="영어학부">영어학부</option>
                        <option value="외국어로서의한국어교육연계전공">외국어로서의한국어교육연계전공</option><option value="융복합소프트웨어연계전공">융복합소프트웨어연계전공</option>
                        <option value="융복합일본지역전공">융복합일본지역전공</option><option value="융복합일본지역학부">융복합일본지역학부</option>
                        <option value="이란어과">이란어과</option><option value="이탈리아어과">이탈리아어과</option>
                        <option value="인도어과">인도어과</option><option value="일본문학전공">일본문학전공</option>
                        <option value="일본어학전공">일본어학전공</option><option value="일본언어문화전공">일본언어문화전공</option>
                        <option value="일본언어문화학부">일본언어문화학부</option><option value="일본지역학전공">일본지역학전공</option>
                        <option value="일본학부">일본학부</option><option value="정치외교학과">정치외교학과</option>
                        <option value="중국문학전공">중국문학전공</option><option value="중국어학전공">중국어학전공</option>
                        <option value="중국언어문화전공">중국언어문화전공</option><option value="중국언어문화학부">중국언어문화학부</option>
                        <option value="중국외교통상전공">중국외교통상전공</option><option value="중국외교통상학부">중국외교통상학부</option>
                        <option value="중국지역학전공">중국지역학전공</option><option value="철학과">철학과</option>
                        <option value="태국어과">태국어과</option><option value="터키,아제르바이잔어과">터키,아제르바이잔어과</option>
                        <option value="포르투갈어과">포르투갈어과</option><option value="프랑스어과">프랑스어과</option>
                        <option value="프랑스교육과">프랑스교육과</option><option value="한국어교육과">한국어교육과</option>
                        <option value="행정학과">행정학과</option>


                    </select>

                    <select name="category2" class="free col-md-2" style="display: none">
                        <option value="0" >교양 선택!</option>
                        <option value="인문강좌">인문강좌</option><option value="교양외국어">교양외국어</option>
                        <option value="HUFS CAREER">HUFS CAREER</option>
                        <option value="건강과레포츠">건강과레포츠</option><option value="특별교양">특별교양</option>
                        <option value="실용외국어">실용외국어</option><option value="외국인을 위한 한국학">외국인을 위한 한국학</option>
                        <option value="공동교양(한예종)">공동교양(한예종)</option><option value="언어와문학">언어와문학</option>
                        <option value="문화와예술">문화와예술</option><option value="역사와철학">역사와철학</option>
                        <option value="국가와사회">국가와사회</option><option value="과학과기술">과학과기술</option>
                        <option value="군사학">군사학</option>

                    </select>
                    <span class="col-md-2">
                    <button type="submit" class="btn btn-default search_button">
                        검색
                    </button>
                    </span>
                </form>
            </div>
        </div>

        {% if get_flashed_messages() %}

            <div class="flahsed_box">
                {% for each in get_flashed_messages() %}
                    <div class="flashed_text text-center">
                        {{each}}
                    </div>
                {% endfor %}
            </div>

        {% endif %}

        {% if empty is defined %}
            {% if empty == 0 %}
                <div class="text-center" style="color: #666666;">
                    <span style="color: #6cd2df;">"{{ search }}"</span> 검색결과가 없습니다. 다른 단어로 검색해주세요.
                </div>
                <br>
            {% else %}
                <div class="text-center">
                <script type="text/javascript" src="http://ad.ilikesponsorad.com/ad/ad.js?adImpMgrCode=27797&width=300&height=250"></script>
{#                <script type="text/javascript" src="http://ad.ilikesponsorad.com/ad/ad.js?adImpMgrCode=27794&width=728&height=90"></script>#}
                </div>
            {% endif %}


        {% else %}
            <br>
            <div class="text-center" style="color: #666666;">
                <span style="color: #6cd2df;">"{{ search }}"</span> 검색결과 입니다.
            </div>
            <br>


            {% for i in lecture['name'] %}
                <div class="row">
                    <div class="panel">
                        <div class="panel-heading upper_color">
                            <div class="row">
                                <span class="col-md-10">
                                    <span class="subject_name">{{i[0].name}}</span><br>
                                    <span class="subject_detail">{{i[0].professor}} 교수님 / {{ i[0].year }}-{{ i[0].semester }}학기 / {{ i[0].category }}</span>
                                </span>
                                <span class="col-md-2">
                                    <a href="/evaluate/{{ i[0].id }}">
                                        <button class="btn btn-default eval_btn">
                                            <span style="color: #175b60;">평가하기</span>
                                        </button>
                                    </a>
                                </span>
                            </div>
                        </div>

                        <div class="panel-body average_box">
                            <div class="row">
                                <div class="col-md-3 rating_line">
                                    <div>
                                        <span class="total_rating col-md-4">총평</span>
                                        <span class="col-md-2"></span>
                                        <span class="col-md-6 total_score">{{'%0.2f'|format(i[0].ev1()|float) }}</span><br>
                                        <hr class="total_underline">
                                    </div>

                                    <div class="img-responsive">
                                        <span>난이도</span>
                                        <span class="rating_bar">
                                            <span class="rating_bar_in" style="width:{{i[0].ev2()}}%;"></span>

                                        </span><br>
                                        <span>학습량</span>
                                        <span class="rating_bar">
                                            <span class="rating_bar_in" style="width:{{i[0].ev3()}}%;"></span>
                                        </span><br>

                                        <span>출첵</span>
                                        <span class="rating_bar">
                                            <span class="rating_bar_in" style="width:{{i[0].ev4()}}%;"></span>
                                        </span><br>
                                        <span>학점</span>
                                        <span class="rating_bar">
                                            <span class="rating_bar_in" style="width:{{i[0].ev5()}}%;"></span>
                                        </span><br>
                                        <span>성취감</span>
                                        <span class="rating_bar">
                                            <span class="rating_bar_in" style="width:{{i[0].ev6()}}%;"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <br>
                                    <div class="latest">최신글</div>
                                    <br>
                                    <span style="color: #666666;">
                                    {% if i[1] ==None %}
                                        소중한 평가 부탁드려요.
                                    {% else %}
                                        {{ i[1]}}
                                    {% endif %}
                                    </span>

                                </div>
                            </div>
                            <div class="text-right">
                                <a href="/detail/{{ i[0].id }}">
                                    <button type="submit" class="btn btn-default search_button">
                                        전체보기<span> ({{ i[0].count }} 개)</span>
                                    </button>
                                </a>

                            </div>

                        </div>
                    </div>
                </div>

            {% endfor %}


            {% for i in lecture['professor'] %}
                <div class="row">
                    <div class="panel">
                        <div class="panel-heading upper_color">
                            <div class="row">
                                <span class="col-md-10">
                                    <span class="subject_name">{{i[0].name}}</span><br>
                                    <span class="subject_detail">{{i[0].professor}} 교수님 / {{ i[0].year }}-{{ i[0].semester }}학기 / {{ i[0].category }}</span>
                                </span>
                                <span class="col-md-2">
                                    <a href="/evaluate/{{ i[0].id }}">
                                        <button class="btn btn-default eval_btn">
                                            <span style="color: #175b60;">평가하기</span>
                                        </button>
                                    </a>
                                </span>
                            </div>
                        </div>

                        <div class="panel-body average_box">
                            <div class="row">
                                <div class="col-md-3 rating_line">
                                    <div>
                                        <span class="total_rating col-md-4">총평</span>
                                        <span class="col-md-2"></span>
                                        <span class="col-md-6 total_score">{{'%0.2f'|format(i[0].ev1()|float) }}</span><br>
                                        <hr class="total_underline">
                                    </div>

                                    <div class="img-responsive">
                                        <span>난이도</span>
                                        <span class="rating_bar">
                                            <span class="rating_bar_in" style="width:{{i[0].ev2()}}%;"></span>

                                        </span><br>
                                        <span>학습량</span>
                                        <span class="rating_bar">
                                            <span class="rating_bar_in" style="width:{{i[0].ev3()}}%;"></span>
                                        </span><br>

                                        <span>출첵</span>
                                        <span class="rating_bar">
                                            <span class="rating_bar_in" style="width:{{i[0].ev4()}}%;"></span>
                                        </span><br>
                                        <span>학점</span>
                                        <span class="rating_bar">
                                            <span class="rating_bar_in" style="width:{{i[0].ev5()}}%;"></span>
                                        </span><br>
                                        <span>성취감</span>
                                        <span class="rating_bar">
                                            <span class="rating_bar_in" style="width:{{i[0].ev6()}}%;"></span>
                                        </span>
                                    </div>
                                </div>


                                <div class="col-md-8">
                                    <br>
                                    <div class="latest">최신글</div>
                                    <br>
                                    <span style="color: #666666;">{{ i[1]}}</span>

                                </div>
                            </div>

                            <div class="text-right">
                                <a href="/detail/{{ i[0].id }}">
                                    <button type="submit" class="btn btn-default total_btn">
                                        전체보기<span> ({{ i[0].count }} 개)</span>
                                    </button>
                                </a>

                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}

        {% endif %}
    </div>




{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{url_for('static', filename='js/select.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

{% endblock %}