<!--네비게이션 위에 붙여서 만든 카테고리 레이아웃 페이지-->
{% extends "nav_layout.html" %}
{% block css %}
<style type=text/css>
    @media only screen and (max-width : 1000px) {
        .category_chart{
            border-radius: 10px;
            background-color: #1473b3;
            margin-bottom: 10px;
            font-family: "Nanum Gothic";
            font-weight: bold;
            margin-top: 0em;
        }
        .ad{
            height: 18em;
            width: 24em;
            background-image: url(../static/img/sora_mobile{{number}}.png);
            background-size: cover;

        }
    }

    @media only screen and (min-width : 1000px) {
        .ad {
            margin-top: 5em;
            height: 32em;
            width: 12em;
            background-image: url(../static/img/soramall{{number}}.png);
            background-size: cover;

        }
    }

</style>
{% endblock css %}
{% block js %}
<script type="text/javascript" src="{{url_for('static', filename='js/video_star.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/video_bookmark.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-rating.js')}}"></script>

{% endblock %}


{% block content %}
<!--<div class="col-md-1"></div>-->
<!--<div class="col-md-10">-->

<div class="col-md-2 category_chart">
    <div class="text-center" style="color: #ffffff; font-size: 20px;">영상 분류</div>
    <hr style="margin-top: 10px; margin-bottom: 10px;"/>
    <ul class="text-center">

        <li style="margin-bottom: 10px; color: #ffffff">
            <a href="/v_category/1">그냥 사랑
            </a></li>
        <li style="margin-bottom: 10px; color: #ffffff">
            <a href="/v_category/2">금지된 사랑
            </a></li>
        <li style="margin-bottom: 10px; color: #ffffff">
            <a href="/v_category/3">코스튬
            </a></li>
        <li style="margin-bottom: 10px; color: #ffffff">
            <a href="/v_category/4">협동조합
            </a></li>
        <li style="margin-bottom: 10px; color: #ffffff">
            <a href="/v_category/5">상황극
            </a></li>
        <li style="margin-bottom: 10px; color: #ffffff">
            <a href="/v_category/6">온천물
            </a></li>
    </ul>
</div>
<div class="col-md-10">
    <div class="col-md-10">
        <div class="text-center">
            <span class="category_name">{{category}}</span>
            <div class="text-right">
                <ul class="pagination" style="margin: 0px;">
                    <li>
                        <a href="/v_category/{{name}}/{{page}}"><span class="standard" >평점순</span></a>
                    </li>
                    <li class="active">
                        <a href="/v_category2/{{name}}/{{page}}"><span class="standard">조회순</span></a>
                    </li>

                </ul>
            </div>
        </div>

        <!--<div class="text-right">-->
        <!--<span class="badge">-->
        <!--<a href="/v_category/{{name}}/{{page}}"><span class="standard" >평점순</span></a>-->
        <!--</span>-->
        <!--<span class="badge">-->
        <!--<a href="/v_category2/{{name}}/{{page}}"><span class="standard">조회순</span></a>-->
        <!--</span>-->
        <!--</div>-->

        <div class="row">
            {% for each in videoCategory %}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail text-center" id="{{each.name}}">
                    <a href="../../videoDetail/{{each.name}}">
                        <div>
                            <span>{{each.average}} 점</span>&nbsp;<span>({{each.count}} 명)</span>
                        </div>
                        <!--<img src="http://storage.googleapis.com/jikbakguri/video/{{each.name}}.jpg" alt="" class="category_img"/>-->
                        <img src="{{each.url()}}" alt="" class="category_img"/>
                    </a>

                    <div class="v_star_area">

                        {% set counter = [] %}
                        {% for r in ratingList %}
                        {%if r['name'] == each.name %}
                        {% if counter.append('1') %}
                        {% endif %}
                        <input type="hidden" class="rating-tooltip" data-filled="symbol symbol-filled" data-empty="symbol symbol-empty" value="{{r['rating']}}"/>
                        {% endif %}
                        {% endfor %}
                        {%if counter == []%}
                        <input type="hidden" class="rating-tooltip" data-filled="symbol symbol-filled" data-empty="symbol symbol-empty"/>
                        {% endif %}


                        <a href="../../videoDetail/{{each.name}}"><span class="all_name">{{each.name}}</span></a>
                        <img class="v_bookmark" src="{{url_for('static', filename='img/love2.png')}}"
                             onmouseover="this.src='{{url_for('static', filename='img/love_on2.png')}}'"
                             onmouseout="this.src='{{url_for('static', filename='img/love2.png')}}'" alt=""
                             style="margin-bottom: 0.4em"/>
                        <!--<button type="button" class="v_bookmark btn btn-success btn-xs">-->
                        <!--<span class="v_bookmark glyphicon glyphicon-bookmark"></span>-->
                        <!--</button>-->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-2">
        <div class="text-center">
            <a href="http://soramall.kr/intro.php?p_id=guri" target="_blank">
                <img src="" class="ad"/>
            </a>
        </div>
    </div>
</div>
<div class="row text-center">
    <ul class="pagination">
        <li>
            <a href="/v_category2/{{name}}/{{down}}">&laquo;</a>
            {% for each in total_page %}
            {% if each == page %}
        <li class="active">
            <a href="/v_category2/{{name}}/{{page}}">{{page}}</a>
        </li>
        {% else %}
        <li>
            <a href="/v_category2/{{name}}/{{each}}">{{each}}</a>
        </li>
        {% endif %}
        {% endfor %}
        <li>
            <a href="/v_category2/{{name}}/{{up}}">&raquo;</a>
        </li>
    </ul>
</div>
<!--</div>-->
<!--</div>-->

<div class="col-md-1"></div>
{% endblock %}