{% extends "nav_layout.html" %}
{% block css %}
<style type=text/css>
    @media only screen and (min-width : 1500px) {
        .collection_text {
            position: relative;
            top: 80px;
            /*left: 3.5em;*/
            font-family: 'jua';
            font-size: 17px;
            color: #000000;
            right: 3em;
        }
    }
</style>
{% endblock css %}
{% block js %}
<!--<script type="text/javascript" src="{{url_for('static', filename='js/actor_collection.js')}}"></script>-->

{% endblock %}

{% block content %}


<div class="col-md-2"></div>

<div class="col-md-8">

    <div id = "buttons" class="text-center" style="margin-top: 70px;">
        <a href="/v_collection_r/1"><button type="button" id="rating_button" class="btn btn-warning btn-lg"><span style="font-family: 'jua">평가한 영상</span></button></a>
        <a href="/v_collection_b/1"><button type="button" id="bookmark_button" class="btn btn-primary btn-lg"><span style="font-family: 'jua">보고싶은 영상</span></button></a>
    </div>

    <div class="row">
        {% for each in myRating %}
        <div class="col-md-3 thumbnail_folder_actor" style="top:40px;">
            <a href="../../videoDetail/{{each.videoName}}">
                <div class="collection_rating">내 평점: <span style="color: blue">{{each.rating}}</span> 점</div>
                <img class="collection_image" src="/show1/{{each.videoName}}" alt="" style="top: 30px;"/>
                <div class="collection_text" style="top: 50px;">

                    <div>{{each.videoName}}</div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="row text-center">
        <ul class="pagination" style="margin-top: 80px;">
            <li>
                <a href="/v_collection_r/{{down}}">&laquo;</a>
            </li>
            {% for page in total_page %}
            <li>
                <a href="/v_collection_r/{{page}}">{{page}}</a>
            </li>
            {% endfor %}
            <li>
                <a href="/v_collection_r/{{down}}">&raquo;</a>
            </li>
        </ul>

    </div>

</div>

<div class="col-md-2"></div>

















{% endblock %}