<!--영상 메인 페이지-->

{% extends "nav_layout.html" %}
{% block css %}

{% endblock css %}
{% block content %}

<div class="col-md-1"></div>
<div class="col-md-10">

    <div class="col-md-2 rank_chart">
        전체랭킹
    </div>

    <div class="col-md-10">

        <div class="row main_category">
            <span class="main_category_name">페티쉬랭킹</span>
        </div>
        <div class="row main_category">
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"> <a href="{{url_for('video_category')}}">더보기</a></div>
        </div>

        <div class="row main_category">
            <span class="main_category_name">농밀랭킹</span>
        </div>
        <div class="row main_category">
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"> <a href="{{url_for('video_category')}}">더보기</a></div>
        </div>

        <div class="row main_category">
            <span class="main_category_name">데뷔작랭킹</span>
        </div>
        <div class="row main_category">
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"> <a href="{{url_for('video_category')}}">더보기</a></div>
        </div>

                <div class="row main_category">
            <span class="main_category_name">가슴랭킹</span>
        </div>
        <div class="row main_category">
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"> <a href="{{url_for('video_category')}}">더보기</a></div>
        </div>

        <div class="row main_category">
            <span class="main_category_name">엉덩이랭킹</span>
        </div>
        <div class="row main_category">
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"> <a href="{{url_for('video_category')}}">더보기</a></div>
        </div>

        <div class="row main_category">
            <span class="main_category_name">골반랭킹</span>
        </div>
        <div class="row main_category">
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"></div>
            <div class="col-md-2 main_thumnail thumbnail"> <a href="{{url_for('video_category')}}">더보기</a></div>
        </div>
    </div>
</div>


</div>
<div class="col-md-1"></div>

{% endblock %} 