{% extends "nav_layout.html" %}
{% block css %}
{% endblock css %}
{% block js %}
<script type="text/javascript" src="{{url_for('static', filename='js/video_collection.js')}}"></script>

{% endblock %}

{% block content %}
<div class="col-md-1"></div>

<div class="col-md-10">

    <div id = "buttons" class="text-center" style="margin-top: 70px;">
        <button type="button" id="v_bookmark_button" class="btn btn-default">보고싶은 영상</button>
        <button type="button" id="v_rating_button" class="btn btn-default">평가한 영상</button>
    </div>



    {% for each in myRating %}
    <div id="v_rating_list" class="col-md-3 thumbnail_folder_actor active">
        <img class="category_image" src="/show2/{{each.videoName}}" alt=""/>

        <div class="text-center img_name_text" style="top:20px; right: 20px;">
            <div style="color: blue">내 평점{{each.rating}} 점</div>
            <div>{{each.videoName}}</div>
        </div>

    </div>
    {% endfor %}

    {% for each in myBookmark %}
    <div id="v_bookmark_list" class="col-md-3 thumbnail_folder_actor hidden" >
        <img class="category_image" src="/show1/{{each.videoName}}" alt=""/>
        <div class="text-center img_name_text" style="top:20px; right: 20px;">
            <div>{{each.videoName}}</div>
        </div>

    </div>
    {% endfor %}

</div>
<div class="col-md-1"></div>
{% endblock %}