<!--영상 s메인 페이2지-->

{% extends "nav_layout.html" %}
{% block css %}
<style type=text/css>
    @media only screen and (max-width : 1000px) {
        .rank_chart{
            border-radius: 10px;
            background-color: #1473b3;
            margin-bottom: 10px;
            font-family: "Nanum Gothic";
            font-weight: bold;
            height:15em ;
            overflow: scroll;
        }
    }

</style>
{% endblock css %}
{% block js %}
{% endblock %}
{% block content %}

<div class="col-md-1"></div>
<div class="col-md-10">

    <div class="col-md-2 rank_chart">
        <div class="text-center" style="color: #ffffff; font-size: 20px;">전체 영상 랭킹</div>
        <hr style="margin-top: 10px; margin-bottom: 10px;"/>
        <ol style="font-size: 14px;" class="text-center">
            {% for each in totalRank %}
            <div><li style="margin-bottom: 10px; color: #ffffff"><a href="../videoDetail/{{each.name}}">{{each.name}}</a></li></div>
            {% endfor %}
        </ol>
    </div>

    <div class="col-md-10">

        <div class="row">
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/v_category/1">
                        <div><span>"러브 액츄얼리"</span></div>
                        <div ><img src="{{url_for('static', filename='img/category_folder.png')}}" class="plus_sign" class="img-responsive" alt="Responsive image"/></div>
                        <div class="all_name_small">영상 더보기</div>
                    </a>
                </div>
            </div>
            {% for each in categoryOne %}
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/videoDetail/{{each.name}}">
                        <div >{{each.average}} 점</div>
                        <img src="{{each.url()}}" class="main_img"/>
                        <div class="all_name_small">{{each.name}}</div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>


        <div class="row">
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/v_category/2">
                        <div><span>"금기된 사랑"</span></div>
                        <div ><img src="{{url_for('static', filename='img/category_folder.png')}}" class="plus_sign" class="img-responsive" alt="Responsive image"/></div>
                        <div class="all_name_small">영상 더보기</div>
                    </a>
                </div>
            </div>
            {% for each in categoryTwo %}
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/videoDetail/{{each.name}}">
                        <div >{{each.average}} 점</div>
                        <img src="{{each.url()}}" class="main_img"/>
                        <div class="all_name_small">{{each.name}}</div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>


        <div class="row">
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/v_category/3">
                        <div><span>"코스튬"</span></div>
                        <div ><img src="{{url_for('static', filename='img/category_folder.png')}}" class="plus_sign" class="img-responsive" alt="Responsive image"/></div>
                        <div class="all_name_small">영상 더보기</div>
                    </a>
                </div>
            </div>
            {% for each in categoryThree %}
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/videoDetail/{{each.name}}">
                        <div >{{each.average}} 점</div>
                        <img src="{{each.url()}}" class="main_img"/>
                        <div class="all_name_small">{{each.name}}</div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/v_category/4">
                        <div><span>"협동조합"</span></div>
                        <div ><img src="{{url_for('static', filename='img/category_folder.png')}}" class="plus_sign" class="img-responsive" alt="Responsive image"/></div>
                        <div class="all_name_small">영상 더보기</div>
                    </a>
                </div>
            </div>
            {% for each in categoryFour %}
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/videoDetail/{{each.name}}">
                        <div >{{each.average}} 점</div>
                        <img src="{{each.url()}}" class="main_img"/>
                        <div class="all_name_small">{{each.name}}</div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/v_category/5">
                        <div><span>"이게 말이 돼?"</span></div>
                        <div ><img src="{{url_for('static', filename='img/category_folder.png')}}" class="plus_sign" class="img-responsive" alt="Responsive image"/></div>
                        <div class="all_name_small">영상 더보기</div>
                    </a>
                </div>
            </div>
            {% for each in categoryFive %}
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/videoDetail/{{each.name}}">
                        <div >{{each.average}} 점</div>
                        <img src="{{each.url()}}" class="main_img"/>
                        <div class="all_name_small">{{each.name}}</div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/v_category/6">
                        <div><span>"나 등 밀어줘"</span></div>
                        <div ><img src="{{url_for('static', filename='img/category_folder.png')}}" class="plus_sign" class="img-responsive" alt="Responsive image"/></div>
                        <div class="all_name_small">영상 더보기</div>
                    </a>
                </div>
            </div>
            {% for each in categorySix %}
            <div class="col-sm-4 col-md-2">
                <div class="thumbnail text-center">
                    <a href="/videoDetail/{{each.name}}">
                        <div >{{each.average}} 점</div>
                        <img src="{{each.url()}}" class="main_img"/>
                        <div class="all_name_small">{{each.name}}</div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>




    </div>
</div>

<div class="col-md-1"></div>
{% endblock %}





