<!--네비게이션 위에 붙여서 만든 카테고리 레이아웃 페이지-->
{% extends "nav_layout.html" %}
{% block css %}
{% endblock css %}
{% block js %}
<script type="text/javascript" src="{{url_for('static', filename='js/video_star.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/video_bookmark.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-rating.js')}}"></script>
<script type="text/javascript">
    //  $(document).ready(function () {
    //     $('.v_star_area').hover(function () {
    //         $(this).addClass('show_star_class');
    //     }, function () {
    //         $(this).removeClass('show_star_class');
    //     });
    // });
</script>

{% endblock %}


{% block content %}

<div class="col-md-1"></div>
<div class="col-md-10">

    <div id="STATICMENU" class="rank_chart">
        <!--{% for each in categoryList %}-->
        <!--<a href="/v_category/{{each}}"><button type="button" class="btn btn-default" style="font-size:40px;">{{each}}</button></a>-->
        <!--{% endfor %}-->

        <div class="text-center" style="font-size: 18px; color: #000000;margin-top: 20px; border-bottom: 2px;">느낌있는 영상 분류</div>
        <hr style="border-bottom:2px;"/>
        <div style="margin-left: 20px;">
            <div>
                <a href="/v_category/1"><button type="button" class="btn btn-default" style="font-size:14px; margin-top:10px; ">마치 연인처럼</button>
                </a></div>
            <div>
                <a href="/v_category/2"><button type="button" class="btn btn-default" style="font-size:14px; margin-top:10px; ">지인과 함께</button>
                </a></div>
            <div>
                <a href="/v_category/3"><button type="button" class="btn btn-default" style="font-size:14px;margin-top:10px; ">특별한 장소에서</button>
                </a></div>
            <div>
                <a href="/v_category/4"><button type="button" class="btn btn-default" style="font-size:14px;margin-top:10px; ">우리는 팀플</button>
                </a></div>
            <div>
                <a href="/v_category/5"><button type="button" class="btn btn-default" style="font-size:14px;margin-top:10px; ">기발한 상황극</button>
                </a></div>
        </div>
    </div>

    <div class="col-md-offset-2 col-md-10" style="position:relative;top:50px;">
        {% for each in videoCategory %}
        <div class="col-md-3 thumbnail_folder_actor" id="{{each.name}}">
            <div class="video_category_average">{{each.average}} 점</div>
            <div class="video_category_people">({{each.count}} 명)</div>
            <img class="category_image_video" src="/show1/{{each.name}}" alt=""/>
            <div class="v_star_area">
                <input id="v_star" type="hidden" class="rating"/>
                <button class="v_bookmark btn btn-custom3" type="button">보고싶어요!</button>
            </div>
            <div class="text-center img_name_text_video">
                <div>{{each.name}}</div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row text-center">
        <ul class="pagination" style="margin-top: 140px; margin-left: 100px;">
            <li>
                <a href="#">&laquo;</a>
            </li>
            {% for page in total_page %}
            <li>
                <a href="/v_category/{{category}}/{{page}}">{{page}}</a>
            </li>
            {% endfor %}
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>

    </div>


</div>
<div class="col-md-1"></div>

{% endblock %} 