{% extends "nav_layout.html" %}
{% block css %}
{% endblock css %}
{% block js %}
<script type='text/javascript' src="{{url_for('static', filename='js/video_comment.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-rating.js')}}"></script>
<script type='text/javascript' src="{{url_for('static', filename='js/video_star.js')}}"></script>
<script type='text/javascript' src="{{url_for('static', filename='js/video_bookmark.js')}}"></script>
<script type="text/javascript">
</script>
{% endblock js %}
{% block content %}
<div class="col-md-1"></div>
<div class="col-md-10">

    <div class="row">
        <div class="col-sm-6 col-md-3" >
            <div class="thumbnail text-center" id="{{videoRow.name}}">
                <img src="{{videoRow.url()}}" alt="" class="detail_img"/>
                <div class="v_star_area">
                    {% if rating is defined %}
                    <input type="hidden" class="rating-tooltip" data-filled="symbol symbol-filled" data-empty="symbol symbol-empty" value="{{rating}}"/>
                    {% else %}
                    <input type="hidden" class="rating-tooltip" data-filled="symbol symbol-filled" data-empty="symbol symbol-empty" />
                    {% endif %}
                    <span class="all_name">{{videoRow.name}}</span>
                    <img class="v_bookmark" src="{{url_for('static', filename='img/love2.png')}}"
                         onmouseover="this.src='{{url_for('static', filename='img/love_on2.png')}}'"
                         onmouseout="this.src='{{url_for('static', filename='img/love2.png')}}'" alt=""
                         style="margin-bottom: 0.4em"/>
                    <!--<button type="button" class="v_bookmark btn btn-success btn-xs">-->
                    <!--<span class="v_bookmark glyphicon glyphicon-bookmark"></span>-->
                    <!--</button>-->
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3" >
            <div class="detail_box text-center">
                <p style="font-size: 25px;">기본 정보</p>
                <p>평균평점 : <span>{{videoRow.average}}</span> 점</p>
                <p>평가인원 : <span>{{videoRow.count}}</span> 명</p>
                <p>취향 :
                    {% if videoRow.category == '1'%}
                    <a href="../v_category/1"><span class="detailSebu detailCategory">러브 액츄얼리</span></a>
                    {% endif %}
                    {% if videoRow.category  == '2' %}
                    <a href="../v_category/2"><span class="detailSebu detailCategory">금기된 사랑</span></a>
                    {% endif %}
                    {% if videoRow.category == '3' %}
                    <a href="../v_category/3"><span class="detailSebu detailCategory">코스튬</span></a>
                    {% endif %}
                    {% if videoRow.category == '4' %}
                    <a href="../v_category/4"><span class="detailSebu detailCategory">협동조합</span></a>
                    {% endif %}
                    {% if videoRow.category == '5' %}
                    <a href="../v_category/5"><span class="detailSebu detailCategory">이게 말이 돼?</span></a>
                    {% endif %}
                    {% if videoRow.category == '6' %}
                    <a href="../v_category/6"><span class="detailSebu detailCategory">나 등 밀어줘</span></a>
                    {% endif %}
                </p>
                <p >출시년도 :
                    <a href="/n_video2/{{videoRow.release|int}}">
                        <span >{{'%0.2f' % videoRow.release|float}}</span> 월
                    </a>
                </p>
                <p >회사 :
                    <a href="/n_video/{{videoRow.company}}">
                        <span>{{videoRow.company}}</span>
                    </a>
                </p>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="detail_box2 text-center">
                <p style="font-size: 25px;">출연 배우</p>
                {% for each in appearActor %}
                <p><a href="../actorDetail/{{each['name']}}"><span>{{each['name']}}&nbsp;({{each['average']}} 점)</span></a></p>
                {% endfor %}
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="detail_box2 text-center">
                <p style="font-size: 25px;">유사한 작품</p>
                {% if sList is defined%}
                {% for each in sList %}
                <p><a href="../videoDetail/{{each[1]}}"><span>{{each[1]}}</span></a></p>
                {% endfor %}
                {% else %}
                <p>해당 영상에 대해 평가가 필요해요!!</p>
                {% endif %}
            </div>
        </div>

        <!--댓글 입력부분 시작-->
        <div class="row">
            <div class="col-sm-12">

                <div class="form-group">
                    <div class="col-sm-2 text-center"><span style="font-size: 25px;">한줄평</span></div>
                    <div class="col-sm-8">
                        <input class="form-control" id = "video_input" type="text" name="comment" placeholder="나만의 진솔한 한줄평!" maxlength="68" />
                        <input class="form-control" type="hidden" name="videoname" value="{{videoRow.name}}" maxlength="68" />
                    </div>
                    <div class="col-sm-2 text-center">
                        <!--<button  class="btn btn-blueblack" onclick="void(sendData());"style="position:relative;left:40px;top:16px;font-size:18px;">-->
                        <button  class="btn btn-warning" id="video_comment">가자!</button>
                    </div>
                </div>

            </div>
        </div>
        <!--댓글 입력부분 종료-->

        <!--댓글 출력부분 시작-->
        <div class="row" style="margin-top: 1.5em;">
            <!--<p class="detailBoxTitle">댓글</p>-->
            <div class="col-sm-12">

                {% for each in comments %}
                <div class="panel panel-default">
                    <div class="row">
                        <div class="col-sm-2 text-left" >
                            <p class="comment_author">
                                <img src="/static/img/{{each['level']}}.png" alt=""/>&nbsp;&nbsp;{{each['author']}}
                            </p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-center commentBox">{{each['content']}}</p>
                        </div>

                        {% set counter = [] %}

                        {% for i in list %}
                        {% if i ==  each['id'] %}
                        {% if counter.append(i) %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}

                        {%if counter != []%}
                        <div class="col-sm-1">
                            <p class="text-center commentBox"><a href="/v_comment/delete/{{each['id']}}" style="color: gray;">삭제</a></p>
                        </div>
                        {% endif %}

                    </div>
                </div>
                {% endfor %}
                <p id="current"></p>
            </div>

            <div class="col-sm-1"></div>
        </div>
    </div>
</div>

<div class="col-md-1"></div>
{% endblock %}
