<!--네비게이션 위에 붙여서 만든 카테고리 레이아웃 페이지-->
{% extends "nav_layout.html" %}
{% block css %}
{% endblock css %}
{% block js %}
<script type="text/javascript" src="{{url_for('static', filename='js/video_star.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-rating.js')}}"></script>
{% endblock %}


{% block content %}

<div class="col-md-1"></div>
<div class="col-md-10">

    <div class="col-md-2 rank_chart">
        {% for each in categoryList %}
        <a href="/v_category/{{each}}"><button type="button" class="btn btn-default" style="font-size:40px;">{{each}}</button></a>
        {% endfor %}
    </div>

    <div class="col-md-offset-2 col-md-10">
        {% for each in videoCategory %}
        <div class="col-md-3 thumbnail_folder_actor" id="{{each.name}}">
            <div style="font-size: 13px; margin-left:10px; margin-top:10px; color: blue">{{each.average}} 점</div>
            <div style="font-size: 13px; margin-left:10px; color: blue">({{each.count}} 명)</div>
            <img class="category_image" src="/show1/{{each.name}}" alt=""/>

            <div class="text-center img_name_text v_star_area">
                <input id="v_star" type="hidden" class="rating"/>
                <div>{{each.name}}</div>
            </div>



        </div>
        {% endfor %}

    </div>

</div>
<div class="col-md-1"></div>

{% endblock %} 