{% extends "nav_layout.html" %}
{% block css %}
<style type=text/css>
    @media only screen and (min-width : 1500px) {
        .collection_text {
            position: relative;
            top: 80px;
            /*left: 3.5em;*/
            font-family: 'jua';
            font-size: 17px;
            color: #000000;
            right: 3em;
        }
    }
</style>
{% endblock css %}
{% block js %}
<!--<script type="text/javascript" src="{{url_for('static', filename='js/actor_collection.js')}}"></script>-->

{% endblock %}

{% block content %}


<div class="col-md-2"></div>
<div class="col-md-8">

    <div id = "buttons" class="text-center">
        <a href="/v_collection_r/1"><button type="button" id="rating_button" class="btn btn-warning"><span>평가한 영상</span></button></a>
        <a href="/v_collection_b/1"><button type="button" id="bookmark_button" class="btn btn-success"><span >보고싶은 영상</span></button></a>
    </div>
    <div class="row" style="margin-top:3em;">
        {% for each in myRating %}
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail text-center">
                <a href="../../videoDetail/{{each.videoName}}">
                    <div>내 평점: <span>{{each.rating}}</span> 점</div>
                    <img src="/show1/{{each.videoName}}"  class="category_img" alt=""/>
                    <div>
                        <div class="all_name">{{each.videoName}}</div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row text-center">
        <ul class="pagination">
            <li>
                <a href="/v_collection_r/{{down}}">&laquo;</a>
            </li>
            {% for page in total_page %}
            <li>
                <a href="/v_collection_r/{{page}}">{{page}}</a>
            </li>
            {% endfor %}
            <li>
                <a href="/v_collection_r/{{down}}">&raquo;</a>
            </li>
        </ul>
    </div>

</div>

<div class="col-md-2"></div>

{% endblock %}